.map{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	#map{
		width:100%;
		height:100%;
	}
	&:after{
		content:'';
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(30,111,126,0.8);
	}
}

.section.contactssection{
	line-height: 1;
	font-size:13px;
	.contacts_page_block .rightblock{
		padding-right:70px;
	}
	.contacts_content{
		padding-top:300px;
	}
}

.contactswrapper{
	background:#3b3b3b;
	.header{
		z-index:2;
		position: relative;
	}
}

.contacts_page_block{
	margin-top:-145px;
	min-height:100vh;
	.rightblock{
		padding:150px 50px 50px;
		width:302px;
		background:#fff;
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		color:#333333; 
		.title{
			font-size:22px;
			font-weight: $m;
			margin-bottom:10px;
		}
		.body{
			overflow: hidden;
		}
		.calendarblock{
			input{
				color:#333333;
				background-image: url(../images/calendar.png);
				background-position: 100% 0;
				background-repeat: no-repeat;
				&:focus{
					border-radius:20px 20px 0 0;
					background:#032a4b url(../images/calendaractive.png) 100% 0 no-repeat;
					color:#fff;
					&::-webkit-input-placeholder {color:#fff;}
					&::-moz-placeholder          {color:#fff;}
					&:-moz-placeholder           {color:#fff;}
					&:-ms-input-placeholder      {color:#fff;}
				}
			}
		}
		input , textarea{
			width:100%;
			margin-top:15px;
			padding:10px 17px;
			border:1px solid transparent;
			background:#f9f9f9;
			border-radius:20px;
			vertical-align: middle;
			font-size:14px;
		}
		textarea{
			resize:none;
			border-radius:10px;
			height:125px;
			padding:10px 17px;
			line-height: 1;
		}
		.recap{
			margin:15px 0;
			.b_title{
				font-weight: $b;
				margin:0 0 5px;
			}
		}
		.site_but{
			background:#032a4b;
			border-color:#032a4b;
			color:#ffffff;
			width:100%;
			text-align: center;
			&:hover{
				color:#032a4b;
				background: none;
			}
		}
	}
}

.textsuccess{
	font-size: 15px;
	font-weight: 500;
	line-height: 1.3;
	display: none;
}

.contacts_content{
	padding-top:250px;
	color:#fff;
	padding-left:20px;
	.title{
		font-size:45px;
		font-weight: $m;
		line-height: 1;
		span{
			position: relative;
		}
	}
	.body{
		padding-bottom:50px;
		padding-right:545px;
		a{
			color:#fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		.big_info{
			float:left;
			padding-top:15px;
			.block{
				margin-top:25px;
				line-height: 27px;
				.m_title{
					font-size:27px;
					line-height: 1;
					font-weight: 400;
					margin-bottom:20px;
				}
				p{
					margin:0;
				}
				.inlineblock{
					position: relative;
					display: inline-block;
				}
			}
		}
	}
	.addressblock{
		float:right;
		margin:50px 0 0 0;
		padding-top:60px;
		line-height: 23px;
		position: relative;
		text-align: center;
		width:245px;
		background:url(../images/address.png) 50% 0 no-repeat;
	}
}

.ui-widget.ui-widget-content{
	background:#032a4b;
	border-color:#032a4b;
	border:none;
	border-radius:0 0 20px 20px;
	width:302px;
	padding:0 30px 10px;
	box-sizing: border-box;
	color:#fff;
	
}
.ui-datepicker .ui-datepicker-header{
	margin:0 -30px;
}

.ui-datepicker .ui-datepicker-header{
	padding:0;
	border-radius:0;
	background:#fff;
	font-size:10px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
	margin-top:-4px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background:none;
	color:#fff;
	border:none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight , .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background:#ffffff;
	color:#032a4b;
}

.ui-datepicker .ui-datepicker-title{
	line-height: 30px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
	border:transparent;
	background: transparent;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	width:6px;
	height:10px;
	top:10px;
	margin:0;
}

.ui-datepicker .ui-datepicker-prev{
	left:15px;
}



.ui-datepicker .ui-datepicker-next-hover{
	right:15px;
	top:10px;
}

.ui-datepicker .ui-datepicker-prev-hover{
	left:15px;
	top:10px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
	display: block;
	width:6px;
	height:10px;
	top:0 !important;
	left:0 !important;
	background:url(../images/arrowcalendar.png) 0 0 no-repeat;
	margin:0;
}

.ui-datepicker .ui-datepicker-next{
	right:15px;
	span{
		background-position: 100% 0;
	}
}

.ui-state-hover, .ui-widget-content .ui-state-hover{
	background:#ffffff;
	color:#032a4b;
}

.ui-datepicker td{
	padding:1px 6px;
}

.ui-datepicker td span, .ui-datepicker td a{
	padding:0 3px;
	line-height:20px;
}


@media screen and (max-height:850px){
	.section.contactssection .contacts_content{
		padding-top:200px;
	}
}

@media screen and (max-height:700px){
	.section.contactssection .contacts_content{
		padding-top:180px;
	}
	.contacts_page_block .rightblock{
		padding-top:120px;
	}
}

@media screen and (max-height:645px){
	.contacts_page_block .rightblock .calendarblock input:focus{
		border-radius:0 0 20px 20px;
		border-color:transparent;
	}
	.ui-widget.ui-widget-content{
		border-radius:0;
	}
}

@media screen and (max-width: 1230px) {
	.contacts_content .body{
		padding-right:430px;
	}
}

@media screen and (max-width: 1200px) and (max-height: 1366px) {
	.section.contactssection .contacts_content{
		padding-top:325px;
	}
}

@media screen and (max-width: 1010px) {
	.top_menu{
		padding-right:60px;
	}
}

@media screen and (max-width: 970px) {
	.contacts_content{
		padding-top:195px;
		.title{
			font-size:22px;
		}
		.body{
			padding-right:400px;
			.big_info{
				float:none;
				padding-top:5px;
				.block{
					margin-top:15px;
					.m_title{
						font-size:17px;
						margin-bottom:5px;
					}
				}
			}
			.addressblock{
				float:none;
				width:auto;
				text-align: left;
				background: none;
				padding-top:0;
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.section.contactssection .contacts_page_block{
		margin-top:0;
		min-height: 530px;
		.contacts_content{
			padding-top:80px;
		}
		.rightblock {
			padding:20px;
			.site_but{
				width:auto;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.contacts_page_block .rightblock{
		position: relative;
		right:auto;
		top:auto;
		bottom:auto;
		width:100%;
		box-sizing: border-box;
		padding:15px;
	}
	.contacts_content .body{
		padding-right:0;
	}
	.ui-widget.ui-widget-content{
		border-radius:20px 20px 0 0;
	}
	.contacts_page_block .rightblock .calendarblock input:focus{
		border-radius:0 0 20px 20px;
	}
}

@media screen and (max-width: 330px) {
	.ui-widget.ui-widget-content{
		width:280px;
	}
}