.doctor_list{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	padding:30px 20px 0;
	max-width:1280px;
	margin:0 auto;
	a{
		width:25%;
		padding:30px 15px;
		box-sizing: border-box;
		text-decoration: none;
		text-align: center;
		.imgblock{
			display: block;
			img{
				border-radius:50%;
			}
		}
		.text{
			display: block;
			font-size:13px;
			line-height: 18px;
			color:#666666;
		}
		.name{
			display: block;
			margin:25px 0 15px;
			font-size:16px;
			color:#032a4b;
			font-weight: $m;
		}
		&:hover{
			background:#f5f5f5;
		}
	}
}

@media screen and (max-width: 990px) {
	.doctor_list a{
		width:calc(100% / 3);
	}
}

@media screen and (max-width: 767px) {
	.doctor_list a{
		width:calc(100% / 2);
	}
}
@media screen and (max-width: 570px) {
	.doctor_list a{
		width:100%;
	}
}