.doctor_page_top{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content:space-between;
	margin:45px 0;
	.left{
		width:30%;
		background:#21beb2;
		text-align: center;
		box-sizing: border-box;
		padding:45px 15px;
		font-size:0;
		line-height: 0;
		.site_but{
			background:#fff;
			color:#21beb2;
			border-color:#fff;
			&:hover{
				background: none;
				color:#fff;
			}
		}
	}
	.right{
		width:70%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		align-content:space-between;
		.top_block , .doc_info , .bottom_block , .text_block{
			width:100%;
			padding:20px 40px;
		}
		.text_block{
			max-width:600px;
		}
		.top_block{
			.b_title{
				color:#032a4b;
			}
			.info{
				color:#032a4b;
			}
			.anonce{
				color:#666666;
				span{
					font-weight: 400;
				}
			}
		}
		.doc_info{
			max-width:600px;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			justify-content:flex-start;
			align-items: center;
			padding-top:0;
			padding-bottom:0;
			.block{
				display: flex;
				max-width:145px;
				line-height: 19px;
				align-items: center;
				margin-top:20px;
				box-sizing: border-box;
				padding-right:20px;
				img{
					margin-right:20px;
				}
			}
		}
		.top_block .b_title{
			font-weight: bold;
		}
		.bottom_block , .top_block{
			background:#f6f6f6;
			.b_title{
				margin:0 0 15px;
				font-size:22px;
			}
		}
		.bottom_block{
			box-sizing: border-box;
			ul{
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				justify-content:flex-start;
				align-items: center;
				max-width:670px;
				padding:0;
				margin:0;
				list-style: none;
				li{
					display: flex;
					align-items: center;
					max-width:195px;
					box-sizing: border-box;
					padding-right:20px;
					img{
						margin-right:20px;
					}
				}
			}
		}
	}
}

.data_slider_wrap{
	margin-bottom:45px;
	.site_title{
		text-transform: uppercase;
	}
	.blockin{
		position: relative;
		&:before{
			content:'';
			position: absolute;
			top:45px;
			left:0; 
			right:0;
			height:1px;
			background:#f4f4f4;
		}
	}
	.data_slider{
		padding-top:30px;
		position: relative;
	}
	.item{
		text-align: center;
		font-size:18px;
		line-height: 22px;
		color:#989898;
		span{
			display: block;
			margin-top:5px;
			font-size:13px;
			font-style: italic;
		}
		.min{
			margin-top:10px;
			font-size:13px;
		}
		&.style1{
			color:#d1d1d1;
			.data{
				background:#7daad1;
			}
		}
		&.style3{
			color:#333333;
			.data{
				background:#032a4b;
			}
		}
		.data{
			line-height: 27px;
			display: inline-block;
			padding:0 20px;
			background:#1f5888;
			font-size:13px;
			color:#ffffff;
			font-style: italic;
			margin-bottom:30px;
		}
	}
	.owl-nav{
		position: absolute;
		top:26px;
		left:0;
		right:0;
		height:0;
		font-size:0;
		line-height: 0;
		div{
			float:right;
			cursor: pointer;
			width:35px;
			height:35px;
			background:#f3f3f3 url(../images/arrowsprite.png) 100% 0 no-repeat;
			&:first-child{
				float:left;
				background-position: 0 0;
			}
			&:hover{
				background-color: #032a4b;
				background-position-y: 100%;
			}
		}
	}
}

.doctor_thanks{
	background:#f6f6f6;
	color:#666666;
	.site_title span{
		color:#333333;
		&:before , &:after{
			background:#e5e5e5;
		}
	}
	.body .owl-nav div{
		background-image: url(../images/arrowaboutser.png);
		opacity:0.8;
		&:hover{
			opacity:1;
		}
	}
}

.doc_page_infobot{
	background:url(../images/doctor_inbg.png) 0 0 repeat;
}



@media screen and (max-width: 940px) {
	.doctor_page_top{
		.left{
			width:33%;
		}
		.right{
			width:67%;
			.top_block , .doc_info , .text_block , .bottom_block{
				padding-left:20px;
				padding-right:20px;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.doctor_page_top{
		.left{
			width:100%;
			padding-bottom:20px;
		}
		.right{
			width:100%;
			.top_block {
				background:#21beb2;
				color:#fff;
				text-align: center;
				padding-top:0;
				font-size:12px;
				.b_title , .info , .anonce{
					color:#fff;
				}
				.b_title{
					font-size:18px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.doctor_page_top .right .top_block{
		text-align: center;
	}
}

@media screen and (max-width: 580px) {
	.doctor_page_top .right{
		.doc_info{
			display: block;
		}
		.bottom_block ul{
			display: block;
			li{
				margin-top:20px;
				max-width:100%;
				&:first-child{
					margin-top:0;
				}
			}
		}
	}
}