.doctor_page_top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 45px 0; }
  .doctor_page_top .left {
    width: 30%;
    background: #21beb2;
    text-align: center;
    box-sizing: border-box;
    padding: 45px 15px;
    font-size: 0;
    line-height: 0; }
    .doctor_page_top .left .site_but {
      background: #fff;
      color: #21beb2;
      border-color: #fff; }
      .doctor_page_top .left .site_but:hover {
        background: none;
        color: #fff; }
  .doctor_page_top .right {
    width: 70%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: space-between; }
    .doctor_page_top .right .top_block, .doctor_page_top .right .doc_info, .doctor_page_top .right .bottom_block, .doctor_page_top .right .text_block {
      width: 100%;
      padding: 20px 40px; }
    .doctor_page_top .right .text_block {
      max-width: 600px; }
    .doctor_page_top .right .top_block .b_title {
      color: #032a4b; }
    .doctor_page_top .right .top_block .info {
      color: #032a4b; }
    .doctor_page_top .right .top_block .anonce {
      color: #666666; }
      .doctor_page_top .right .top_block .anonce span {
        font-weight: 400; }
    .doctor_page_top .right .doc_info {
      max-width: 600px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; }
      .doctor_page_top .right .doc_info .block {
        display: flex;
        max-width: 145px;
        line-height: 19px;
        align-items: center;
        margin-top: 20px;
        box-sizing: border-box;
        padding-right: 20px; }
        .doctor_page_top .right .doc_info .block img {
          margin-right: 20px; }
    .doctor_page_top .right .top_block .b_title {
      font-weight: bold; }
    .doctor_page_top .right .bottom_block, .doctor_page_top .right .top_block {
      background: #f6f6f6; }
      .doctor_page_top .right .bottom_block .b_title, .doctor_page_top .right .top_block .b_title {
        margin: 0 0 15px;
        font-size: 22px; }
    .doctor_page_top .right .bottom_block {
      box-sizing: border-box; }
      .doctor_page_top .right .bottom_block ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 670px;
        padding: 0;
        margin: 0;
        list-style: none; }
        .doctor_page_top .right .bottom_block ul li {
          display: flex;
          align-items: center;
          max-width: 195px;
          box-sizing: border-box;
          padding-right: 20px; }
          .doctor_page_top .right .bottom_block ul li img {
            margin-right: 20px; }

.data_slider_wrap {
  margin-bottom: 45px; }
  .data_slider_wrap .site_title {
    text-transform: uppercase; }
  .data_slider_wrap .blockin {
    position: relative; }
    .data_slider_wrap .blockin:before {
      content: '';
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      height: 1px;
      background: #f4f4f4; }
  .data_slider_wrap .data_slider {
    padding-top: 30px;
    position: relative; }
  .data_slider_wrap .item {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #989898; }
    .data_slider_wrap .item span {
      display: block;
      margin-top: 5px;
      font-size: 13px;
      font-style: italic; }
    .data_slider_wrap .item .min {
      margin-top: 10px;
      font-size: 13px; }
    .data_slider_wrap .item.style1 {
      color: #d1d1d1; }
      .data_slider_wrap .item.style1 .data {
        background: #7daad1; }
    .data_slider_wrap .item.style3 {
      color: #333333; }
      .data_slider_wrap .item.style3 .data {
        background: #032a4b; }
    .data_slider_wrap .item .data {
      line-height: 27px;
      display: inline-block;
      padding: 0 20px;
      background: #1f5888;
      font-size: 13px;
      color: #ffffff;
      font-style: italic;
      margin-bottom: 30px; }
  .data_slider_wrap .owl-nav {
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    height: 0;
    font-size: 0;
    line-height: 0; }
    .data_slider_wrap .owl-nav div {
      float: right;
      cursor: pointer;
      width: 35px;
      height: 35px;
      background: #f3f3f3 url(../images/arrowsprite.png) 100% 0 no-repeat; }
      .data_slider_wrap .owl-nav div:first-child {
        float: left;
        background-position: 0 0; }
      .data_slider_wrap .owl-nav div:hover {
        background-color: #032a4b;
        background-position-y: 100%; }

.doctor_thanks {
  background: #f6f6f6;
  color: #666666; }
  .doctor_thanks .site_title span {
    color: #333333; }
    .doctor_thanks .site_title span:before, .doctor_thanks .site_title span:after {
      background: #e5e5e5; }
  .doctor_thanks .body .owl-nav div {
    background-image: url(../images/arrowaboutser.png);
    opacity: 0.8; }
    .doctor_thanks .body .owl-nav div:hover {
      opacity: 1; }

.doc_page_infobot {
  background: url(../images/doctor_inbg.png) 0 0 repeat; }

@media screen and (max-width: 940px) {
  .doctor_page_top .left {
    width: 33%; }
  .doctor_page_top .right {
    width: 67%; }
    .doctor_page_top .right .top_block, .doctor_page_top .right .doc_info, .doctor_page_top .right .text_block, .doctor_page_top .right .bottom_block {
      padding-left: 20px;
      padding-right: 20px; } }
@media screen and (max-width: 800px) {
  .doctor_page_top .left {
    width: 100%;
    padding-bottom: 20px; }
  .doctor_page_top .right {
    width: 100%; }
    .doctor_page_top .right .top_block {
      background: #21beb2;
      color: #fff;
      text-align: center;
      padding-top: 0;
      font-size: 12px; }
      .doctor_page_top .right .top_block .b_title, .doctor_page_top .right .top_block .info, .doctor_page_top .right .top_block .anonce {
        color: #fff; }
      .doctor_page_top .right .top_block .b_title {
        font-size: 18px; } }
@media screen and (max-width: 767px) {
  .doctor_page_top .right .top_block {
    text-align: center; } }
@media screen and (max-width: 580px) {
  .doctor_page_top .right .doc_info {
    display: block; }
  .doctor_page_top .right .bottom_block ul {
    display: block; }
    .doctor_page_top .right .bottom_block ul li {
      margin-top: 20px;
      max-width: 100%; }
      .doctor_page_top .right .bottom_block ul li:first-child {
        margin-top: 0; } }

/*# sourceMappingURL=doctorpage.css.map */
