.info_hygiene.orthodontic .textblock{
	background-image: url(../images/orthodontic.png);
}

.docte_info_block_page.orthodontic{
	.right  .titleblock{
		span{
			display: inline-block;
		}
	}
}

.orth_block{
	background:#f9f9f9;
	display: flex;
	align-items: center;
	&.block2{
		background:#f9f9f9;
		.leftblock{
			padding:20px 50px;
		}
		.imgblock{
			background:#fff;
			text-align: center;
			img{
				margin:30px;
				border-radius:50%;
			}
		}
	}
	.leftblock , .imgblock{
		width:50%;
		box-sizing: border-box;
		padding:10px 30px 10px 80px;
	}
	.rightblock{
		width:50%;
		img{
			display: block;
			width:100%;
		}
	}
}

.bottomm_orthodon{
	display: flex;
	.left , .right{
		width:50%;
		box-sizing: border-box;
		padding:50px 50px 50px 80px;
		.top{
			min-height:150px;
			padding-bottom:0px;
			word-wrap: break-word;
		}
		.text{
			margin-top:10px;
		}
		.body{
			.block{
				display: flex;
				align-items: center;
				margin-top:60px;
				img{
					margin-right:50px;
					border-radius:50%;
				}
				.textblock{
					span{
						display: block;
						font-size:22px;
						line-height: 1;
						margin:0 0 10px;
					}
				}
			}
		}
	}
	.right{
		background:#fafafa;
	}
}

.site_jsonblock{
	padding:50px 0 70px;
	background:#f7f7f7;
	.site_title{
		text-transform: uppercase;
	}
	.body{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		.block{
			width:49%;
			min-width:49%;
			background:#fff url(../images/ugol.png) 100% 0 no-repeat;
			margin-top:40px;
			box-sizing: border-box;
			padding:30px 30px 45px;
			.b_title{
				margin-bottom:20px;
				font-size:22px;
				color:#333333;
				font-weight: $m;
				line-height: 1;
				text-transform: uppercase;
			}
			.min_block{
				margin-top:30px;
				display: flex;
				align-items: center;
				img{
					border-radius:50%;
					margin-right:40px;
				}
			}
		}
	}
}

@media screen and (max-width: 1300px){
	.orth_block .leftblock{
		padding-left:20px;
	}
	.orth_block.block2 .imgblock{
		padding-left:0;
		padding-right:0;
	}
	.bottomm_orthodon{
		.right , .left{
			padding-left:20px;
			padding-right:20px;
		}
	}
}

@media screen and (max-width: 1200px){
	.orth_block.block2 .imgblock img{
		margin:30px 10px;
	}
}

@media screen and (max-width: 870px){
	.orth_block.block2 .imgblock img{
		width:160px;
	}
	.bottomm_orthodon{
		.left , .right{
			.body .block img{
				margin-right:10px;
			}
		}
	}
}

@media screen and (max-width: 767px){
	.section.mainslider .orthodonticsslider .item{
		background: none !important;
	}
	.orth_block{
		display: block;
		text-align: center;
		.leftblock , .rightblock , .imgblock{
			width:100%;
			img{
				margin:0 auto;
			}
		}
	}
	.site_jsonblock .body{
		display: block;
		.block{
			width:100%;
			padding-left:15px;
			padding-right:15px;
			.min_block{
				img{
					margin-right:15px;
				}
			}
		}
	}
	.bottomm_orthodon{
		display: block;
		.left , .right{
			width:100%;
			padding:15px;
			.top{
				min-height:auto;
			}
			.body{
				.block{
					margin-top:20px;
					align-items: flex-start;
				}
			}
		}
	}
	.orth_block.block2 .leftblock{
		padding-left:15px;
		padding-right:15px;
	}
}

@media screen and (max-width: 390px){
	.orth_block.block2 .imgblock img{
		width:140px;
		margin:10px 5px;
	}
	.site_jsonblock .body .block{
		text-align: center;
		background:#fff;
		.min_block{
			display: block;
			img{
				display: block;
				margin:0 auto 10px;
			}
		}
	}
	.bottomm_orthodon{
		.right , .left{
			.body .block{
				display: block;
				text-align: center;
			}
		}
	}
}