.info_hygiene.proteth{
	.textblock{
		background-image: url(../images/protethinfo.png);
		.title{
			span{
				display: inline-block;
			}
		}
	}
}

.prothe_textblock{
	padding:60px 0 0;
	.wrap{
		padding-top:0;
		padding-bottom:0;
		max-width:845px;
	}
	.b_title{
		font-size:36px;
		margin:0 auto 20px;
		line-height: 1;
		font-weight: $l;
		color:#333333;
		span{
			font-weight: $m;
		}
	}
	.text{
		max-width:670px;
		margin:0 auto;
	}
}

.prothe_json{
	padding-bottom:30px;
	.wrap_block{
		width:49%;
		.block{
			width:100%;
			span{
				display: block;
				font-size:22px;
				color:#333333;
				margin-bottom:15px;
				line-height: 1;
			}
		}
	}
}

.counter_block.proteth{
	background:#f7f7f7;
}

.bottomblock_premium{
	text-align: center;
	padding:50px 0;
	background:#f7f7f7;
	.body{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		.block{
			width:315px;
			margin-top:60px;
			line-height: 21px;
			img{
				display: block;
				margin:0 auto 20px;
			}
			span{
				display: block;
				font-size:22px;
				font-weight: $m;
				margin:0 0 10px;
				color:#032a4b;
			}
		}
	}
}

.js_pic_block{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	&.greybg{
		background:#f6f6f6;
	}
	.rightimg{
		width:575px;
		min-width:575px;
		img{
			display: block;
			max-width:150%;
		}
	}
	.left_info{
		padding:20px 40px 20px 80px;
		.title{
			font-size:36px;
			line-height: 1;
			text-transform: uppercase;
			font-weight: $l;
			color:#333333;
			margin:0 0 30px;
			span{
				font-weight: $m;
				color:#032a4b;
			}
		}
		.blocks{
			.block{
				margin-top:30px;
				display: flex;
				align-items: center;
				img{
					border-radius:50%;
					margin-right:30px;
				}
			}
		}
	}
}

@media screen and (max-width: 1430px) {
	.js_pic_block{
		align-items: flex-start;
	}
}

@media screen and (max-width: 1300px) {
	.js_pic_block .left_info{
		padding:20px;
		.title{
			margin-bottom:15px;
			font-size:22px;
		}
		.blocks{
			.block{
				margin-top:15px;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.bottomblock_premium .body{
		justify-content: space-around;
		.block{
			width:45%;
		}
	}
}

@media screen and (max-width: 990px) {
	.js_pic_block{
		display: block;
		.rightimg{
			width:100%;
			min-width:auto;
			img{
				width:100%;
				margin:0 auto;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.prothe_textblock{
		padding-top:20px;
		.b_title{
			font-size:22px;
		}
	}
	.prothe_json{
		padding-top:10px;
		.wrap_block{
			width:100%;
		}
	}
	.bottomblock_premium{
		padding:20px 0;
	}
}

@media screen and (max-width: 600px) {
	.bottomblock_premium .body .block{
		width:100%;
	}
}

@media screen and (max-width: 390px) {
	.js_pic_block .left_info .blocks .block{
		display: block;
		text-align: center;
		img{
			margin:0 auto 15px;
			display: block;
		}
	}
}