input , button , select , textarea{
	outline:none;
	box-sizing: border-box;
}

button{
	cursor: pointer;
}


img{
	max-width:100%;
}

body , html{
	height:100%;
}

body{
	margin:0;
	font-size:13px;
	line-height: 21px;
	font-family: $r;
	font-weight: $l;
	color:#666666;
}

a{
	transition: all 0.4s ease 0s;
	text-decoration: none;
	color:#032a4b;
	&:hover{
		text-decoration: underline;
	}
}

.clearafter:after{
	content:'';
	display: block;
	clear: both;
}

.wrapper{
	min-height:100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	// max-width:1920px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	&.index{
		.phone_top{
			color:#032a4b;
		}
		.burger span{
			background:#032a4b;
		}
		+ #fp-nav ul li a{
			background:#032a4b;
			background-clip: padding-box;
			opacity: 0.3;
			&.active{
				opacity: 1;
			}
		}
	}
}

.mobile{
	.blockin{
		padding-right:20px;
	}
}

.mainwrapper{
	.header{
		position: absolute;
		top:0;
		left:0;
		right:0;
		z-index:3;
	}
	.phone_top{
		color:#fff;
	}
	.burger span{
		background:#fff;
	}
}

.hygienewrapper{
	.header{
		position: absolute;
		top:0;
		left:0;
		right:0;
		z-index:3;
	}
}

.blockin{
	padding:0 80px;
	margin:0 auto;
	max-width:1920px;
	&:after{
		content:'';
		display: block;
		clear: both;
	}
}

.path{
	margin-top:35px;
	line-height: 1;
	font-size:14px;
	line-height: 17px;
	color:#666666;
	padding:0 15px;
	text-align: center;
	a{
		text-decoration: none;
		color: #21beb2;
		margin-right: 30px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			right: -20px;
			margin-top: -2px;
			width: 4px;
			height: 4px;
			background: #666;
			border-radius: 50%;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}

.site_but{
	line-height: 54px;
	border:1px solid transparent;
	border-radius:30px;
	font-size:13px;
	text-decoration: none;
	display: inline-block;
	min-width:240px;
	text-align: center;
	box-sizing: border-box;
	padding:0 10px;
	transition: all 0.4s ease 0s;
	&:hover{
		text-decoration: none;
	}
}

.header{
	background:url(../images/header.png) 100% 0 no-repeat;
	background-size: 100% 100%;
	padding:25px 0px;
	min-height:145px;
	box-sizing: border-box;
}

.logo{
	font-size:0;
	line-height: 0;
	float:left;
	margin-right:60px;
}

.phone_top{
	float:right;
	font-size:18px;
	line-height: 40px;
	padding-top:20px;
	font-weight: normal;
	color:#032a4b;
	width:400px;
	text-align: right;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
	span{
		font-weight: bold;
		font-size:27px;
	}
}

.burger{
	display: none;
	cursor: pointer;
	position: absolute;
	z-index:4;
	top:24px;
	right:13px;
	width:23px;
	height:18px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	span{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #000;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	span:nth-child(1) {
		top: 0px;
	}
	span:nth-child(2), span:nth-child(3) {
		top: 8px;
	}
	span:nth-child(4) {
		top: 16px;
	}
	&.open span{
		background:#000;
	}
	&.open span:nth-child(1) {
		top: 16px;
		width: 0%;
		left: 50%;
	}
	&.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&.open span:nth-child(4) {
		top: 12px;
		width: 0%;
		left: 50%;
	}
}

.top_menu{
	overflow: hidden;
	text-align: center;
	padding-right:200px;
	padding-top:25px;
	max-width:550px;
	z-index:1;
	ul{
		padding:0;
		margin:0;
		list-style: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			&:first-child{
				margin:0;
			}
			&.active a{
				color:#21beb2;
			}
			a{
				display: block;
				color:#fff;
				text-decoration: none;
				font-size:12px;
				font-weight: $m;
				text-transform: uppercase;
				&:hover{
					color:#21beb2;
				}
			}
		}
	}
}

#fullpage{
	font-size:0;
	line-height: 0;
}

#fp-nav{
	position: absolute;
	right:30px;
	top:50%;
	ul{
		padding:0;
		list-style: none;
		li{
			margin-top:8px;
			a{
				width:11px;
				height:11px;
				display: block;
				background:rgba(255,255,255,0.3);
				border-radius: 50%;
				background-clip: padding-box;
				border:5px solid transparent;
				&.active , &:hover{
					background:#fff;
					background-clip: padding-box;
				}
			}
		}
	}
}

.fullscreen-bg__video{
	position: absolute;
	z-index:0;
	top:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	video{
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index:1;
	}
	video::-webkit-media-controls {
		display:none !important;
	}
	#play{
		display: none;
	}
	&:after{
		content:'';
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(0,0,0,0.5);
		z-index:3;
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.section{
	position: relative;
	padding-top:200px;
	line-height: calc(100vh - 200px);
	box-sizing: border-box;
	overflow: hidden;
	&.main{
		background:url(../images/header.jpg) 50% 0 no-repeat;
		background-size: cover;
		.wrapp{
			position: relative;
			z-index:2;
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
	&.mainslider{
		background:#032a4b;
		line-height: 1;
		.arrowmain{
			position: absolute;
			left:0;
			right:0;
			height:0;
			div , a{
				cursor: pointer;
				float:right;
				width:15px;
				height:29px;
				cursor: pointer;
				font-size:0;
				line-height: 0;
				background: url(../images/arrowmainslider.png) 100% 0 no-repeat;
				opacity: 0.8;
				&:first-child{
					float:left;
					background-position: 0 0;
				}
				&:hover{
					opacity: 1;
				}
			}
		}
		.coutbloc{
			padding:0 50px;
			position: absolute;
			top:50%;
			margin-top:-105px;
			font-size:16px;
			line-height: 29px;
			font-weight: $t;
			color:#fff;
			left:80px;
			z-index:2;
			span{
				font-style: italic;
				font-size:45px;
			}
			&.countfirstslider{
				padding-left:0;
				.arrowmain{
					a{
						float:right;
						background-position: 100% 0;
					}
				}	
			}
		}
		.owlmain{
			.item{
				height: calc(100vh - 200px);
				line-height: calc(100vh - 200px);
				background-size: auto 100% !important;
				position: relative;
				.wraslider{
					display: inline-block;
					vertical-align: middle;
					line-height: 30px;
					font-size:18px;
					color:#fff;
					max-width:650px;
					font-weight: $t;
					min-height:370px;
					padding-top:0;
					padding-top:70px;
					.s_title{
						font-size:45px;
						font-weight: $m;
						line-height:1;
						margin-bottom:20px;
						span{
							display: inline-block;
							font-weight: $l;
						}
					}
					.s_text{
						margin-bottom:20px;
					}
					a.all{
						display: inline-block;
						line-height: 55px;
						text-align: center;
						width:100%;
						text-decoration: none;
						color:#fff;
						border:1px solid transparent;
						border-radius:40px;
						max-width:235px;
						background:#21beb2;
						font-size:13px;
						&:hover{
							border-color:#21beb2;
							background: none;
						}
					}
				}
			}
		}
	}
	&.premiummain{
		background:#228b99 url(../images/premiummain.jpg) 50% 0 no-repeat;
		background-size: cover;
		.blocks{
			border:1px solid rgba(255,255,255,0.1);
			border-left:0;
			border-top:0;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			justify-content: space-around;
			max-width:1110px;
			a{
				width:33.33%;
				text-align: center;
				min-height:90px;
				display: flex;
				align-items:center;
				font-size:13px;
				line-height: 22px;
				text-decoration: none;
				color:#fff;
				padding:15px 27px;
				box-sizing: border-box;
				text-align: left;
				border:1px solid rgba(255,255,255,0.1);
				border-right:0;
				border-bottom:0;
				img{
					margin-right:30px;
					max-width:45px;
				}
				&:hover{
					background-color: #032a4b;
				}
			}
		}
	}
	.wrapp{
		display: inline-block;
		width:100%;
		vertical-align: middle;
		line-height: 1;
		color:#fff;
		padding-bottom:70px; 
		.b_title{
			font-size:45px;
			font-weight: $b;
			margin-bottom:40px;
		}
	}
	.scroll{
		position: absolute;
		bottom:40px;
		cursor: pointer;
		left:50%;
		width:20px;
		z-index:2;
		height:30px;
		background:url(../images/scroll.png) 0 0 no-repeat;
	}
}

.mainblockcontent{
	font-size:13px;
	line-height: 21px;
	margin:0 auto;
	text-align: center;
	.title{
		font-size:64px;
		font-weight: $t;
		line-height: 1;
		padding-top:215px;
		background:url(../media/zub.gif) 50% 0 no-repeat;
		background-size: 320px 180px;
		span{
			color:#21beb2;
			font-weight: $m;
		}
	}
	.text{
		margin:20px auto 40px;
		max-width:600px;
	}
	.linkblock{
		text-align: center;
		font-size:0;
		line-height: 0;
		a{
			display: inline-block;
			vertical-align: top;
			line-height: 55px;
			padding:0 55px;
			font-size:13px;
			color:#ffffff;
			text-decoration: none;
			border-radius:35px;
			border:1px solid #21beb2;
			margin-left:35px;
			&:first-child{
				margin-left:0;
			}
			&:last-child{
				padding-right:65px;
				background:url(../images/arrowmainbut.png) 100% 0 no-repeat;
			}
			&:hover{
				background-color:#21beb2;
			}
		}
	}
}

.contetn{
	padding:30px 0;
}

.site_title{
	text-align: center;
	overflow: hidden;
	line-height: 1.3;
	font-size:35px; 
	color:#333333;
	> span{
		display: inline-block;
		padding:0 30px;
		text-transform: uppercase;
		position: relative;
		&:before{
			content:'';
			position: absolute;
			top:18px;
			left:-300000px;
			right:100%;
			height:1px;
			background:#ededed;
		}
		&:after{
			content:'';
			position: absolute;
			top:18px;
			right:-300000px;
			left:100%;
			height:1px;
			background:#ededed;
		}
		span{
			display: block;
			font-weight: $l;
			font-size:16px;
			text-transform: none;
			line-height: 1;
			margin-top:7px;
		}
	}
}


.all_b_title{
	text-transform: uppercase;
	font-weight: $l;
	font-size:36px;
	line-height: 1;
	color:#333333;
	span{
		font-weight: $m;
		display: block;
	}
}

.blokc_title{
	font-size:36px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: $m;
}

.siteinfoblock{
	background:#032a4b;
	padding:50px 15px;
	text-align: center;
	color:#fff; 
	.title{
		font-size:35px;
		line-height: 1;
		text-transform: uppercase;
	}
	.text{
		margin:20px 0;
	}
	p{
		margin:0;
	}
	a{
		line-height:55px;
		width:100%;
		max-width:235px;
		background:#ffffff;
		border-radius:30px;
		line-height: 55px;
		border:1px solid #ffffff;
		display: inline-block;
		color:#032a4b;
		&:hover{
			text-decoration: none;
			background: none;
			color:#fff;
		}
	}
}

.footer{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	background:#21beb2;
	padding:40px 0;
	font-size:13px;
	.footer_wrap{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items:flex-start;
	}
	a{
		color:#fff;
	}
	.righblock{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items:center;
		justify-content:space-between;
	}
	.logo_bot{
		font-size:0;
	}
	.footermenu{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding-right:40px;
		justify-content: space-between;
		ul{
			padding:0;
			list-style: none;
			margin:0 0 0 35px;
			&:first-child{
				margin:0;
			}
		}
		li{
			a{
				padding-left:15px;
				position: relative;
				display: block;
				text-align: left;
				&:before{
					content:'';
					left:0;
					top:10px;
					margin-top:-2px;
					position: absolute;
					width:4px;
					height:4px;
					border-radius:50%;
					background:#fff;
				}
				span{
					display: inline-block;
					line-height: 14px;
					border-bottom:1px solid #fff;
				}
				&:hover{
					span{
						border-color:transparent;
					}
				}
			}
		}
	}
	.copyright a{
		span{
			display: inline-block;
			line-height: 14px;
			border-bottom:1px solid #fff;
		}
		&:hover{
			span{
				border-color:transparent;
			}
		}
	}
}



@media screen and (max-height:570px){
	.section.mainslider{
		.coutbloc{
			margin-top:0;
			top:200px;
		}
		.owlmain .item .wraslider{
			min-height:auto;
			vertical-align: top;
		}
	}
	.mainblockcontent .title{
		font-size:75px;
		word-wrap: break-word;
	}
}

@media screen and (max-height:710px){
	.section{
		.wrapp{
			padding-bottom:0;
		}
		.scroll{
			bottom:20px;
		}
	}
}

@media screen and (max-height:665px){
	.mainblockcontent .title{
		padding-top:100px;
		background-size: auto 100px;
	}
}

@media screen and (max-height:599px){
	.mainblockcontent .title{
		padding-top:0;
		background: none;
	}
}

@media screen and (max-height:620px){
	.section .scroll{
		display: none;
	}
}

@media screen and (max-width: 1490px) {
	.header{
		background-position: 50% 0;
		background-size: 100% 100%;
	}
	.phone_top{
		width:auto;
	}
	.section.main{
		padding-top:150px; 
	}
	.section .scroll{
		margin-left:0px;
	}
}

@media screen and (max-width: 1400px) {
	.section.mainslider .owlmain .item{
		background-size: 80% auto !important;
	}
}

@media screen and (max-width: 1366px) {
	.mainblockcontent .title{
		font-size:50px;
	}
}

@media screen and (max-width: 1300px) {
	#fp-nav{
		right:5px;
	}
	.blockin{
		padding-left:20px;
		padding-right:30px;
	}
	.section.mainslider .coutbloc{
		left:20px;
	}
	.section .scroll{
		margin-left:-5px;
	}
}

@media screen and (max-width: 1200px) {
	.header{
		min-height:80px;
		padding:11px 0 35px;
	}
	.mainblockcontent .title{
		font-size:44px;
	}
	.section{
		padding-top:0;
		.item{
			padding-top:140px;
		}
		&.main{
			line-height:1;
		}
	}
	.section.mainslider .coutbloc{
		top:140px;
		margin-top:0;
	}
	.section.premiummain{
		padding-top: 100px;
		padding-bottom:20px;
		line-height: calc(100vh - 120px);
	}
	.section.mainslider .owlmain .item{
		height: calc(100vh - 120px);
		line-height: calc(100vh - 120px);
	}
	.phone_top{
		width:250px;
		span{
			font-size:26px;
		}
	}
	.logo{
		margin-right:10px;
		margin-top:7px;
		width:200px;
	}
	.top_menu{
		padding-right:100px;
		ul li a{
			font-size:14px;
		}
	}
}

@media screen and (max-width: 1040px) {
	.footer{
		.footermenu{
			padding-right:15px;
		}
		.footermenu ul{
			margin-left:15px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.section.mainslider .owlmain .item{
		background-size: 70% auto !important;
	}
}

@media screen and (max-width: 991px) {
	.phone_top{
		display: none;
	}
	.burger{
		display: block;
	}
	.top_menu{
		z-index:3;
		position: fixed;
		top:0;
		left:0;
		min-width:100%;
		width:100%;
		right:0;
		background:#fff;
		bottom:100%;
		text-align: left;
		padding:0;
		transition: all 0.4s ease 0s;
		padding:0 13px 0;
		box-sizing: border-box;
		&.open{
			bottom:0;
			padding:15px 13px 25px;
		}
		ul{
			display: block;
			li{
				display: block;
				&.active a{
					color:#2dc9bd;
					background:#f4f4f4;
					text-decoration: none;
				}
				a{
					font-size:14px;
					color:#333333;
					line-height: 40px;
					padding:0 20px;
					&:hover{
						color:#2dc9bd;
						background:#f4f4f4;
						text-decoration: none;
					}
				}
			}
		}
	}
	.section.premiummain .blocks a{
		padding:20px;
		min-height:auto;
	}
}

@media screen and (max-width: 970px) {
	.section.contactssection .contacts_content{
		padding-top:220px;
	}
}

@media screen and (max-width: 940px) {
	.footer .footer_wrap{
		display: block;
		text-align: center;
	}
	.footer .righblock{
		display: block;
		.footermenu{
			padding:0 0 10px 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.site_title{
		font-size:26px;
	}
	.all_b_title{
		font-size:20px;
	}
	.blokc_title{
		font-size:22px;
	}
	.section .wrapp .b_title{
		font-size:30px;
		margin-bottom:25px;
	}
	.blockin{
		padding-left:20px;
		padding-right:20px;
	}
	.header{
		background-position:50% 0;
		background-size: 1000% 100%;
		padding:11px 0 20px;
	}
	.burger{
		span{
			background:#fff;
		}
		&.open{
			span{
				background:#333333;
			}
		}
	}
	.section.mainslider{
		padding-top:85px;
		height:auto;
		line-height: 1;
	}
	.section.mainslider .coutbloc{
		top:30px;
		margin-top:0;
		left:50%;
		margin-left:-82px;
	}
	.section.premiummain{
		line-height: 1;
		padding:25px 0;
	}
	.section.main{
		padding-top:120px; 

	}
	.section.mainslider .owlmain .item{
		height:auto;
		line-height: 1;
		background: none !important;
		padding-bottom:20px;
		text-align: center;
		padding-top:0;
		.wraslider{
			min-height:auto;
			padding-top:0;
			.s_title{
				font-size:35px;
			}
		}
	}
	.section.premiummain{
		padding-top:25px;
		.blocks a{
			width:50%;
		}
		.wrapp{
			padding-bottom:0;
		}
	}
	.mainblockcontent{
		padding-bottom:20px;
		.title{
			padding-top:100px;
			background:url(../media/zub.gif) 50% 0 no-repeat;
			background-size: auto 100px;
		}
	}
	.footer{
		padding:15px 0;
		.footermenu{
			padding:15px 0;
		}
		.righblock{
			display: block;
		}
	}
	.scroll{
		display: none;
	}
}

@media screen and (max-width: 630px) {
	.mainblockcontent .linkblock a{
		display: block;
		&:last-child{
			margin:20px 0 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.logo{
		width:155px;
	}
	.section.premiummain .blocks a{
		width:100%;
		min-height:auto;
	}
}

@media screen and (max-width: 550px) {
	.footer .footermenu{
		flex-wrap:wrap;
		ul{
			width:47%;
			margin:1px 0 0;
			&:first-child{
				margin-top:1px;
			}
		}
	}
}

@media screen and (max-width: 530px) {
	.mainblockcontent .title{
		font-size:40px;
	}
}

@media screen and (max-width: 400px) {
	.header{
		background-position: 50% 0;
		background-size: cover;
	}
	.footer .footermenu{
		display: block;
		text-align: center;
		ul{
			width:100%;
			margin:10px 0 0;
			li{
				text-align: center;
				a{
					display: inline-block;
					padding:0;
					&:before{
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
	.section.mainslider .owlmain .item{
		background-size: auto 100% !important;
	}
}

@media screen and (max-width: 1200px) and (max-height: 850px) {
	.section.mainslider .owlmain .item{
		background-size: 100% auto !important;
	}
}



@media screen and (max-width: 800px) and (max-height: 850px) {
	.section.mainslider .owlmain .item{
		line-height: 1;
		background-size: 100% auto !important;
	}
}

@media screen and (max-width: 1200px) and (max-height: 870px) {
	.section.mainslider .owlmain .item{
		line-height: 1;
		background-size: 100% auto !important;
	}
}


@media screen and (max-width: 768px) and (max-height: 1024px) {
	.section.mainslider .owlmain .item{
		line-height: 1;
		background-size: 100% auto !important;
	}
}



@media screen and (max-width: 1024px) and (max-height: 1366px) {
	.section.mainslider .owlmain .item{
		line-height: 1;
		background-size: 100% auto !important;
	}
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
	.section.mainslider .owlmain .item{
		background-size: 90% auto !important;
	}
}

@media screen and (max-width: 700px) and (max-height: 860px) {
	.section.mainslider .owlmain .item{
		background-size: auto 100% !important;
	}
}
