
		<div class="section main abouttop">
			<div class="fullscreen-bg__video">
					<!--<video id="player" loop muted controls="false" data-autoplay>
								<source src="new3.webm" type="video/webm">
						<source src="new3.ogg" type="video/ogg">
						<source src="new3.mp4" type="video/mp4">
						</video>-->
					</div>
					<div class="wrapp wow fadeInUp">
						<div class="blockin">
							<div class="mainblockcontent">
								<div class="title" style=" font-weight: 500; ">Центр дентальной <span style=" color: #3efbda; ">имплантации</span></div>
								<div class="text" style="line-height: 26px; font-size: 15px;">
									Центр дентальной имплантации – это новый подход к лечению зубов. Мы предлагаем полный спектр стоматологических услуг и применяем последние достижения медицины.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="scroll"></div>
				</div>
				<div class="about_textblock" style=" padding-top: 0; ">
					<div class="left wow fadeInUp" data-wow-offset="100" style="padding: 50px;font-size: 14px;padding-right: 70px;width: 53%;">
						<div class="title" style=" margin-bottom: 35px; ">О центре</div>
						<div class="text" style=" font-size: 14px; line-height: 22px; ">
							<p style=" color: #000; ">Клиника существует на рынке стоматологических услуг с 2010 года и успела заработать доверие десятков тысяч пациентов, жителей Томска ,Северска и других регионов.</p>
							<p style=" color: #000; ">Современное диагностическое и лечебное оборудование, материальное оснащение центра позволяют специалистам оказывать высокотехнологичные стоматологические услуги по направлениям терапевтической (взрослой и детской), хирургической, ортопедической, профилактической стоматологии а также с привлечением анестезиологии в разделе общего обезболивания.</p>
							<p style=" color: #000; ">Красивая и здоровая улыбка - основа понятия здоровья и внешнего облика преуспевающего человека. Плохая экология городского пространства, нездоровое питание и ритм жизни приводят к различным нарушениям здоровья и усилению различных стоматологических заболеваний. Поэтому в последние десятилетия во всем мире особо востребованными становятся стоматологические услуги эстетического и косметического направлений. Если препятствием для Вас в обращении к стоматологу является страх от звука бормашины - забудьте об этом, специалисты ЦДИ проведут высоко-эстетичное и качественное лечение без боли и страха.</p>
							<p><a href="contacts.html" style="background-size: 16%;font-size: 14px; color: #21BEB2;">Адрес центра на карте города</a></p>
						</div>
					</div>
					<div class="imgblock wow fadeInUp" data-wow-offset="100" style="width: 38%;">
						<img src="assets/template/images/abouttextblock.png">
					</div>
				</div>
				<div class="sale_about wow fadeInUp" style="background: #3DC6AE;padding: 50px 0 0px 0;">
					<div class="blockin" style="padding-left: 55px;">
						<div class="blokc_title">Скидки и акции</div>
						<div class="body">
							<div class="owl-carousel sale_slider">
								<div class="item" style="padding-top: 40px;">
									<div class="title" style="font-size: 22px;line-height: 26px;color: #fff;font-weight: 500;margin-bottom: 30px;">Уникальная услуга "Зубы за день"!<br>Экспресс-имплантация на место удалённого зуба</div>
									<div class="text" style="font-size: 15px;line-height: 22px;">
										После удаления зуба не стоит затягивать с установкой протеза. Ведь без жевательной нагрузки истончается костная ткань, а образовавшееся пространство позволяет зубам смещаться. Благодаря современной анестезии и технологичному оборудованию <b>мы за 1 день можем удалить зуб, поставить имплантат, изготовить и установить коронку</b>. Такая имплантация возможна только в клиниках с собственной зуботехнической лабораторией.
									</div>
									<img class="img" src="assets/template/images/saleslid1.jpg" style=" border-color: #83DBCB; ">
									
								</div>
						<!--<div class="item">
								<div class="title">Скидка на услугу "Зубы за день" до 21 августа!</div>
								<div class="text">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
								</div>
								<img class="img" src="assets/template/images/saleslid1.jpg" alt="">
							</div>-->
						</div>
					</div>
				</div>
			</div>
			<div class="section premiummain aboutpremium" style="padding: 70px 0;">
				<div class="wrapp">
					<div class="blockin" style="padding-left: 55px;">
						<div class="b_title wow fadeInUp" style="color: #032A4B;">Преимущества <span>нашего центра</span></div>
						<div class="body">
							<div class="blocks wow fadeInUp" style="border: 0;">
								<a style=" border: 3px solid rgba(13, 96, 101, 0); background: none; font-weight: 300; font-size: 18px; ">
									<img src="assets/template/images/teet_icon.png" alt="">
									<img src="assets/template/images/teet_icon.png" alt="">
									<span class="right" style=" color: #032A4B; ">
										25 000 установленных пломб
									</span>
								</a>
								<a style=" border: 3px solid rgba(13, 96, 101, 0); background: none; font-weight: 300; font-size: 18px; ">
									<img src="assets/template/images/medal_icon.png" alt="">
									<img src="assets/template/images/medal_icon.png" alt="">
									<span class="right" style=" color: #032A4B ">
										10 лет на рынке стоматологических услуг Томска
									</span>
								</a>
								<a style=" border: 3px solid rgba(13, 96, 101, 0); background: none; font-weight: 300; font-size: 18px; ">
									<img src="assets/template/images/connection_icon.png" alt="">
									<img src="assets/template/images/connection_icon.png" alt="">
									<span class="right" style=" color: #032A4B ">
										80% клиентов приходят к нам по рекомендации
									</span>
								</a>
								<a style=" border: 3px solid rgba(13, 96, 101, 0); background: none; font-weight: 300; font-size: 18px; ">
									<img src="assets/template/images/impla_icon.png" alt="">
									<img src="assets/template/images/impla_icon.png" alt="">
									<span class="right" style=" color: #032A4B ">
										10 000+ установленых имплантатов
									</span>
								</a>
								<a style=" border: 3px solid rgba(13, 96, 101, 0); background: none; font-weight: 300; font-size: 18px; ">
									<img src="assets/template/images/percent_icon.png" alt="">
									<img src="assets/template/images/percent_icon.png" alt="">
									<span class="right" style=" color: #032A4B ">
										Корпоративное предложение, семейные скидки
									</span>
								</a>
								<a style=" border: 3px solid rgba(13, 96, 101, 0); background: none; font-weight: 300; font-size: 18px; ">
									<img src="assets/template/images/medical_icon.png" alt="">
									<img src="assets/template/images/medical_icon.png" alt="">
									<span class="right" style=" color: #032A4B ">
										Бесплатная консультация врача-специалиста
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="aboutblocks">
				<div class="block first  wow fadeIn" data-wow-delay="0.2s">
					<div class="title" style="margin-bottom: 30px; line-height: 26px;">Работа по мировым стандартам</div>
					<div class="text" style="font-size: 14px; line-height: 22px;">
						Все процедуры проводятся на современном оборудовании с применением материалов ведущих мировых производителей стоматологической индустрии:
						Nakanishi (Япония), Kohler, Melag, Kaltenbach, VDW, XABO (Германия), Alhp-Bio (Израиль), Schick, Dentsply (США), Scican (Канада), Pan-Feam (Дания), Bluex (Италия), W&H (Австрия).<p>
						Собственная зуботехническая лаборатория Центра оснащена оборудованием Zubler, Detlex, Rentflect и Nakanishi, которые позволяют изготавливать высокоточные зубные коронки.</p>
					</div>
				</div>
				<div class="block center wow fadeIn" data-wow-delay="0.4s">
					<div class="title" style="margin-bottom: 30px;">Лечение по ДМС</div>
					<div class="text" style="font-size: 14px; line-height: 22px;">
						Корпоративное обслуживание позволяет оказывать стоматологические услуги сотрудникам предприятий со скидкой относительно действующего прайс-листа. Тем самым, предприятие значительно сокращает объем денежных средств, при предоставлении сотрудникам добровольного медицинского страхования (ДМС).<p>С нами, Ваши сотрудники будут улыбаться чаще!</p>
					</div>
					<a href="file/presentation.pdf" class="link" style="background-size: 16%;padding-left: 55px; font-size: 14px; color: #21BEB2;">Скачать презентацию</a>
				</div>
				<div class="block right wow fadeIn" data-wow-delay="0.6s">
					
				</div>
			</div>
		<!--<div class="thanks_block wow fadeInUp">
				<div class="site_title"><span>Благодарности от наших пациентов</span></div>
				<div class="body">
						<div class="owl-carousel thanks_slider">
								<div class="item">
										<img src="assets/template/images/about_thank1.jpg" alt="">
										<div class="name">
												Маргорита Степановна Потуцкая, <span>32 года</span>
										</div>
										<div class="text">
												Стоматологический Центр ЦДИ открыт в 2001 году доктором медицины Иваном Ивановым, имплантологом с мировым именем, который родился в России, но получил образование и более 20 лет практиковал за рубежом..
										</div>
								</div>
								<div class="item">
										<img src="assets/template/images/about_thank1.jpg" alt="">
										<div class="name">
												Маргорита Степановна Потуцкая, <span>32 года</span>
										</div>
										<div class="text">
												Стоматологический Центр ЦДИ открыт в 2001 году доктором медицины Иваном Ивановым, имплантологом с мировым именем, который родился в России, но получил образование и более 20 лет практиковал за рубежом..
										</div>
								</div>
								<div class="item">
										<img src="assets/template/images/about_thank1.jpg" alt="">
										<div class="name">
												Маргорита Степановна Потуцкая, <span>32 года</span>
										</div>
										<div class="text">
												Стоматологический Центр ЦДИ открыт в 2001 году доктором медицины Иваном Ивановым, имплантологом с мировым именем, который родился в России, но получил образование и более 20 лет практиковал за рубежом..
										</div>
								</div>
						</div>
				</div>
			</div>-->
			<div class="about_sert wow fadeInUp">
				<div class="site_title">Лицензии</div>
				<div class="owlblock">
					<div class="body">
						<div class="owl-carousel serslider">
							<div class="item"><img src="assets/template/images/lic-2017.jpg" alt=""></div>
							<div class="item"><img src="assets/template/images/lic-list2.jpg" alt=""></div>
							<div class="item"><img src="assets/template/images/lic-prilozhenie.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
			

			<div class="thanks_block doctor_thanks wow fadeInUp">
				<div class="site_title"><span>Отзывы</span></div>
				<div class="body">
					<div class="owl-carousel thanks_slider">
						
						<div class="item">
							<img src="assets/template/images/otzivy/otz-1.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-2.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-3.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-4.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-5.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-6.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-7.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-8.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-9.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-10.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-11.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-12.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-13.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-14.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-15.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-16.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-17.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-18.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-19.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-20.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						<div class="item">
							<img src="assets/template/images/otzivy/otz-21.jpg" alt="" style="width: 450px;border-radius: 0;" ">
						</div>
						

						



					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="blockin">
					<div class="footer_wrap">
						<div class="logo_bot">
							<a href="#"><img src="assets/template/images/logobot.png" alt=""></a>
						</div>
						<ul>
							<li><a href="implantation.html">Имплантация</a></li>
							<li><a href="services.html">Детская стоматология</a></li>
							<li><a href="terapia.html">Терапия</a></li>
						</ul>
						<ul>
							<li><a href="hygiene.html">Гигиена и профилактика</a></li>
							<li><a href="proteth.html">Протезирование</a></li>
							<li><a href="#">Диагностика</a></li>
						</ul>
						<ul class="address">
							<li><strong>Пн-Пт: </strong> 8:30-20:00</li>
							<li><strong>Сб: </strong> 8:30-14:00</li>
							<li><strong>Вс: </strong>  выходной</li>
						</ul>
						<ul class="address">
							<li><strong>Телефон: </strong> 25-70-33</li>
							<li><strong>E-mail: </strong> <a href="mailto:cdistom@mail.ru"> cdistom@mail.ru</a></li>
							<li><strong>Адрес: </strong> 634057, Томск,<br>  ул. Говорова, д. 19 "В", ст. 1</li>
						</ul>
						<div class="copyright">
							<a href="policy.pdf" target="__blank">Политика конфиденциальности</a>
							<ul class="address social_footer">
								<li><a href="https://vk.com/cdistom"></a></li>
								<li><a href="https://www.facebook.com/tomskimplant/?modal=composer"></a></li>
								<li><a href="https://www.instagram.com/tomstom_implant/?hl=ru"></a></li>					
							</ul>
							<a href="#" class="fresco">FRESCO —  поддержка и разработка</a>

						</div>
					</div>
				</div>
			</footer>
			<div class="services_popup_block">
				<div class="blockwrap">
					<header class="header">
						<div class="blockin">
							<a href="#" class="logo"><img src="assets/template/images/logocdi.png" alt=""></a>
							<div class="closeservice"></div>
						</div>
					</header>
					<div class="blockin">
						<div class="services_wrap_popup">
							<div class="leftblock">
								<div class="title">
									услуги<br>
									центра
								</div>
							</div>
							<div class="rightblock" style=" max-width: 590px; ">
								<ul>
									<li><a href="implantation.html"><img src="assets/template/images/sm1.png" alt=""><span>Имплантация</span></a></li>
									<!--<li><a href="#"><img src="assets/template/images/sm2.png" alt=""><span>Терапия</span></a></li>-->
									<!-- <li><a href="#" style=" color: #aaa; "><img src="assets/template/images/sm3.png" alt=""><span>Ортопедия</span></a></li> -->
									<li><a href="terapia.html"><img src="assets/template/images/sm4.png" alt=""><span>Терапия</span></a></li>
									<li><a href="proteth.html"><img src="assets/template/images/sm5.png" alt=""><span>Протезирование</span></a></li>
									<li><a href="hygiene.html"><img src="assets/template/images/sm6.png" alt=""><span>Гигиена и профилактика</span></a></li>
									<li><a href="services.html"><img src="assets/template/images/sm7.png" alt=""><span>Детская стоматология</span></a></li>
									<li><a href="#" style=""><img src="assets/template/images/sm8.png" alt=""><span>Диагностика</span></a></li>
								</ul>
								<a href="contacts.html" class="site_but">Записаться на консультацию</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			window.onload = function(){
				var player = document.getElementById("player");
				var play = document.getElementById("play");
				player.play();
			}
		</script>
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter45262389 = new Ya.Metrika({
							id:45262389,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/45262389" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

	</body>
	</html>