.child-banner {
	background-repeat: no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover !important; 
}
.child-banner .new-banner-list {
	width:49%;
}
.hygienewrapper .header {
	background-color:transparent;
}
.child-banner img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.phone_top {
	color:#fff;
}
.new-banner-img {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
}
.section.mainslider.new-banner .owlmain .item .wraslider .s_text {
	font-size: 16px;
	font-weight: 100;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.section.mainslider.new-banner .owlmain .item .wraslider {
	padding-top: 80px;
}
.new-banner.section.mainslider .owlmain .item1 {
	background-image: url(../images/banner/banner-implantation.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner .new-banner-list {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	padding-left: 0px;
	margin-top: 0;
}
.new-banner .new-banner-list li {
	white-space: nowrap;
	position: relative;
	font-size: 16px;
	padding-left: 40px;
	margin-right: 75px;
	font-weight: 100;
	margin-bottom: 10px;
}
.new-banner .new-banner-list li::before { 
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: 3px;
	background-image: url(../images/banner/Banner-Chek-Mark.png);
	width: 23px;
	height: 23px;
}
.section.mainslider.new-banner {
	padding-top: 0 !important;
}
.new-banner.section.mainslider .owlmain .item {
	padding-top: 116px !important;
    padding-bottom: 150px;
}
.section.mainslider.new-banner .owlmain .item .wraslider {
	max-width: 1066px !important;
}
.section.mainslider.child-banner .owlmain .item .wraslider {
	max-width: 1040px !important;
}
.section.mainslider.new-banner .owlmain .item {
	height: calc(100vh - 200px);
	line-height: calc(100vh - 158px);
	position: relative;
}
.section.mainslider.new-banner .owlmain .item1 {
	height: calc(100vh - 200px);
	line-height: calc(100vh - 200px);
	position: relative;
}
.section.mainslider.new-banner .coutbloc {
	padding: 0 50px;
	position: absolute;
	top: 41%;
	margin-top: -105px;
	font-size: 16px;
	line-height: 29px;
	font-weight: 100;
	color: #fff;
	left: 80px;
	z-index: 2;
}
.section.mainslider.child-banner .coutbloc {
	top: 38%;
}
.new-banner.section.mainslider .owlmain .item2 {
	background-image: url(../images/banner/banner-protezirovanie.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner.section.mainslider .owlmain .item2 h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.new-banner.section.mainslider .owlmain .item3 {
	background-image: url(../images/banner/banner-detskaya.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner.section.mainslider .owlmain .item3 h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.new-banner.section.mainslider .owlmain .item4 {
	background-image: url(../images/banner/banner-terapevt.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner.section.mainslider .owlmain .item4 h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.new-banner.section.mainslider .owlmain .item5 {
	background-image: url(../images/banner/banner-gigiena.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner.section.mainslider .owlmain .item5 h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.new-banner.section.mainslider .owlmain .item6 {
	background-image: url(../images/banner/banner-anastezia.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner.section.mainslider .owlmain .item6 h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.new-banner.section.mainslider .owlmain .item7 {
	background-image: url(../images/banner/diagnostika.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.new-banner.section.mainslider .owlmain .item7 h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.new-banner.section.mainslider .s_title {
	position: relative;
}
.new-banner.section.mainslider .s_title:before {
	background: #21beb2;
	width: 165px;
	height: 2px;
	content: "";
	position: absolute;
	bottom: -11px;
	left: 0;	
}
.section.mainslider .owlmain .item .wraslider a.all {
	display: block;
	clear: both;
}
.new-banner .new-banner-list:nth-child(2n) {
	padding-top: 40px;
}
.new-banner .new-banner-list:nth-child(2n) h4 {
	margin-top: -40px !important;
}
.section.mainslider.new-banner  .item1 .new-banner-list:nth-child(2n) {
	padding: 0;
}
@media screen and (max-width: 1300px) {
	.new-banner .blockin {
		 padding-left: 80px;
		 padding-right: 80px; 
	}
}
@media screen and (max-width: 1000px) {
	.new-banner .new-banner-list {
		width: 100%;
		margin-bottom: 0;
	}
	.new-banner .blockin {
		margin-top: 50px;
	}
	.new-banner .all {
		margin-top: 15px;
	}
	.new-banner.section.mainslider .owlmain .item3 h4 {
		margin-bottom: 0;
	}
	.new-banner .new-banner-list:nth-child(2n) {
		padding-top: 0px;
	}
	.new-banner .new-banner-list:nth-child(2n) h4 {
		margin-top: 0px !important;
	}
}
@media screen and (max-width: 767px) {
	.new-banner .blockin {
		padding-left: 20px;
		padding-right: 20px;
	}
	.section.mainslider.child-banner .coutbloc {
		left: 100px;
		top: 34%;
	}
}
@media screen and (max-width: 480px) {
	.new-banner.section.mainslider.new-banner .owlmain .item {
		text-align: left;
	}
	.new-banner-img {
		display: none;
	}
	.section.mainslider.new-banner .coutbloc {
		padding: 0 50px;
		position: absolute;
		top: 240px;
		margin-top: -105px;
		font-size: 16px;
		line-height: 29px;
		font-weight: 100;
		color: #fff;
		left: 104px;
		z-index: 2;
	}
	.section.mainslider.new-banner .owlmain .item {
		height: auto !important;
		line-height: initial !important;
		position: relative;
	}
	.section.mainslider .owlmain .item .wraslider .s_title {
		font-size: 23px;
	}
	.child-banner .new-banner-list {
		width:100%;
	}
	.new-banner .new-banner-list li {
		margin-right:0;
	}
	.new-banner.section.mainslider .owlmain .item {
		padding-bottom: 70px;
	}
	.new-banner .blockin {
		margin-top: 0;
	}
	.mainblockcontent .linkblock a:last-child {
		margin: 20px auto;
	}
	.new-banner .new-banner-list li::before {
		top: 7px;
		width: 17px;
		height: 17px;
		background-size: 17px;
	}
	.new-banner .new-banner-list li {
		white-space: normal;
		font-size: 15px;
		padding-left: 25px;
	}
	.section.mainslider.new-banner .owlmain .item .wraslider .s_text {
		font-size: 15px;
	}
	.new-banner.section.mainslider .owlmain .item3 h4 {
		margin-bottom: 10px;
	}
}