@import url('fonts.css');

$r:'Roboto';

$t:100;
$l:300;
$m:500;
$b:700;
$bl:900;

@import "blocks/site.scss"; // Главная
@import "blocks/doctorlist.scss"; // Список докторов
@import "blocks/faq.scss"; // FAQ
@import "blocks/about.scss"; // О компании
@import "blocks/doctorpage.scss"; // Страница доктора
@import "blocks/hygiene.scss"; // Гигиена
@import "blocks/orthodontics.scss"; // Ортодонтия
@import "blocks/proteth.scss"; // Протезирование
@import "blocks/contacts.scss"; // Контакты
@import "blocks/services.scss"; // Услуги


.services_popup_block{
	display: none;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,0.98);
	overflow-y: auto;
	z-index:3;
	.closeservice{
		position: absolute;
		right:30px;
		top:40px;
		width:26px;
		height:26px;
		background:url(../images/closebut.png) 0 0 no-repeat;
		opacity: 0.6;
		cursor: pointer;
		transition: all 0.4s ease 0s;
		&:hover{
			opacity: 1;
		}
	}
	.blockwrap{
		padding-top:185px;
		position: relative;
		box-sizing: border-box;
		padding-bottom:65px;
		&:before{
			content:'';
			position: absolute; 
			width: 100%;
			right: 0;
			bottom: 0;
			max-width: 1440px;
			height: 505px; 
			background:url(../images/services_bg.png) 50% 100% no-repeat;
		}
	}
	.header{
		position: absolute;
		top:0;
		left:0;
		right:0;
	}
	.blockin{
		padding-right:30%;
		box-sizing: border-box;
	}
	.services_wrap_popup{
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height:calc(100vh - 250px);
		position: relative;
	}
	.leftblock{
		max-width:280px;
		.title{
			text-transform: uppercase;
			font-size:50px;
			line-height: 1;
			color:#333;
			margin:0 0 20px; 
			span{
				display: block;
				font-size:64px;
				color:#000;
				font-weight: bold;
			}
		}
	}
	.rightblock{
		max-width:500px;
		width:100%;
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding:0;
			list-style: none;
			margin:0;
			li{
				width:40%; 
				margin-top:30px;
				&:nth-child(1) {
					-webkit-animation-delay: 0;
					animation-delay: 0; 
				}
				&:nth-child(2) {
					-webkit-animation-delay: 0.1s;
					animation-delay: 0.1s; 
				}
				&:nth-child(3) {
					-webkit-animation-delay: 0.15s;
					animation-delay: 0.15s;  
				}
				&:nth-child(4) {
					-webkit-animation-delay: 0.20s;
					animation-delay: 0.20s;  
				}
				&:nth-child(5) {
					-webkit-animation-delay: 0.25s;
					animation-delay: 0.25s;  
				}
				&:nth-child(6) {
					-webkit-animation-delay: 0.30s;
					animation-delay: 0.30s;  
				}
				&:nth-child(7) {
					-webkit-animation-delay: 0.35s;
					animation-delay: 0.35s;  
				}
				&:nth-child(8) {
					-webkit-animation-delay: 0.40s;
					animation-delay: 0.40s;  
				}
				a{
					display: inline-flex;
					align-items: center;
					font-size:15px;
					color:#333333;
					text-decoration: none;
					&:hover{
						color:#21beb2;
						span{
							border-color:#21beb2;
						}
					}
					span{
						border-bottom:1px solid transparent;
						display: inline;
					}
					img{
						margin-right:25px;
					}
				}
			}
		}
		.site_but{
			margin-top:55px;
			border-color:#032a4b;
			background:#032a4b;
			color:#fff;
			animation-delay: 0.50s;  
			&:hover{
				background:#fff;
				color:#032a4b;
				transition: all 0.4s ease 0s;
			}
		}
	}
}

@media screen and (max-width: 1220px) {
	.services_popup_block{
		&:before{
			display: none;
		}
		.blockin{
			padding-right:20px;
		}
		.rightblock {
			max-width:65%;
		}
	}
}

@media screen and (max-width: 950px) {
	.services_popup_block .blockwrap{
		// padding-top:140px;
		.services_wrap_popup{
			display: block;
		}
		.leftblock {
			max-width:100%
		}
		.rightblock{
			max-width:100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.services_popup_block .closeservice{
		top:27px;
		background:url(../images/closebut2.png) 0 0 no-repeat;
	}
}

@media screen and (max-width: 480px) {
	.services_popup_block .rightblock ul li{
		width:100%;
		a{
			display: flex;
		}
	}
}

@media screen and (max-width:400px) {
	.services_popup_block .closeservice{
		right:37px;
		top:20px;
		width:22px;
		height:22px;
		background-size: 100% 100% !important;
	}
}