@import url("fonts.css");
input,
button,
select,
textarea {
	outline: none;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
}

body,
html {
	height: 100%;
}

body {
	margin: 0;
	font-size: 13px;
	line-height: 21px;
	font-family: "Roboto";
	font-weight: 300;
	color: rgb(102, 102, 102);
}

a {
	transition: all 0.4s ease 0s;
	text-decoration: none;
	color: #032a4b;
}

a:hover {
	text-decoration: underline;
}

.clearafter:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	min-height: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.wrapper.index .phone_top {
	color: #032a4b;
}

.wrapper.index .burger span {
	background: #032a4b;
}

.wrapper.index+#fp-nav ul li a {
	background: #032a4b;
	background-clip: padding-box;
	opacity: 0.3;
}

.wrapper.index+#fp-nav ul li a.active {
	opacity: 1;
}

.mobile .blockin {
	padding-right: 20px;
}

.mainwrapper .header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.mainwrapper .phone_top {
	color: #fff;
}

.mainwrapper .burger span {
	background: #fff;
}

.hygienewrapper .header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.blockin {
	padding: 0 80px;
	margin: 0 auto;
	max-width: 1920px;
}

.blockin:after {
	content: '';
	display: block;
	clear: both;
}

.path {
	margin-top: 35px;
	line-height: 1;
	font-size: 14px;
	line-height: 17px;
	color: #666666;
	padding: 0 15px;
	text-align: center;
}
.path li {
	display:inline-block;
}

.path a {
	text-decoration: none;
	color: #21beb2;
	margin-right: 30px;
	position: relative;
}


.path a:before {
	content: '';
	position: absolute;
	top: 50%;
	right: -20px;
	margin-top: -2px;
	width: 4px;
	height: 4px;
	background: #666;
	border-radius: 50%;
}

.path li:last-child a:before {
	display:none;
}
.path li:last-child a {
	color:#666666;
}

.path a:hover {
	text-decoration: underline;
}

.site_but {
	line-height: 54px;
	border: 1px solid transparent;
	border-radius: 30px;
	font-size: 13px;
	text-decoration: none;
	display: inline-block;
	min-width: 240px;
	text-align: center;
	box-sizing: border-box;
	padding: 0 10px;
	transition: all 0.4s ease 0s;
}

.site_but:hover {
	text-decoration: none;
}

.header {
	background: url(../images/header.png) 100% 0 no-repeat;
	background-size: 100% 100%;
	padding: 25px 0px;
	min-height: 145px;
	box-sizing: border-box;
}

.logo {
	font-size: 0;
	line-height: 0;
	float: left;
	margin-right: 60px;
}

.phone_top {
	float: right;
	font-size: 18px;
	line-height: 5px;
	padding-top: 23px;
	font-weight: normal;
	color: #032a4b;
	width: 400px;
	text-align: right;
	text-decoration: none;
}

.phone_top p {
	font-size: 12px;
	margin: 0 0 14px;
}

.phone_top:hover {
	text-decoration: none;
}

.phone_top span {
	font-weight: bold;
	font-size: 27px;
}

.burger {
	display: none;
	cursor: pointer;
	position: absolute;
	z-index: 4;
	top: 24px;
	right: 13px;
	width: 23px;
	height: 18px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.burger span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #000;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
	top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
	top: 8px;
}

.burger span:nth-child(4) {
	top: 16px;
}

.burger.open span {
	background: #000;
}

.burger.open span:nth-child(1) {
	top: 16px;
	width: 0%;
	left: 50%;
}

.burger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
	top: 12px;
	width: 0%;
	left: 50%;
}

.top_menu {
	overflow: hidden;
	text-align: center;
	padding-right: 200px;
	padding-top: 25px;
	max-width: 550px;
	z-index: 1;
}

.top_menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top_menu ul li:first-child {
	margin: 0;
}

.top_menu ul li.active a {
	color: #21beb2;
}

.top_menu ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.top_menu ul li a:hover {
	color: #21beb2;
}

#fullpage {
	font-size: 0;
	line-height: 0;
}

#fp-nav {
	position: absolute;
	right: 30px;
	top: 50%;
}

#fp-nav ul {
	padding: 0;
	list-style: none;
}

#fp-nav ul li {
	margin-top: 8px;
}

#fp-nav ul li a {
	width: 11px;
	height: 11px;
	display: block;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	background-clip: padding-box;
	border: 5px solid transparent;
}

#fp-nav ul li a.active,
#fp-nav ul li a:hover {
	background: #fff;
	background-clip: padding-box;
}

.fullscreen-bg__video {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.fullscreen-bg__video video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.fullscreen-bg__video video::-webkit-media-controls {
	display: none !important;
}

.fullscreen-bg__video #play {
	display: none;
}

.fullscreen-bg__video:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.section {
	position: relative;
	padding-top: 200px;
	line-height: calc(100vh - 200px);
	box-sizing: border-box;
	overflow: hidden;
}

.section.main {
	background: #21beb2;
	background-size: cover;
}

.section.main .wrapp {
	position: relative;
	z-index: 2;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.section.mainslider {
	background: #032a4b;
	line-height: 1;
}

.section.mainslider .arrowmain {
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
}

.section.mainslider .arrowmain div,
.section.mainslider .arrowmain a {
	cursor: pointer;
	float: right;
	width: 15px;
	height: 29px;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	background: url(../images/arrowmainslider.png) 100% 0 no-repeat;
	opacity: 0.8;
}

.section.mainslider .arrowmain div:first-child,
.section.mainslider .arrowmain a:first-child {
	float: left;
	background-position: 0 0;
}

.section.mainslider .arrowmain div:hover,
.section.mainslider .arrowmain a:hover {
	opacity: 1;
}

.section.mainslider .coutbloc {
	padding: 0 50px;
	position: absolute;
	top: 50%;
	margin-top: -105px;
	font-size: 16px;
	line-height: 29px;
	font-weight: 100;
	color: #fff;
	left: 80px;
	z-index: 2;
}

.section.mainslider .coutbloc span {
	font-style: italic;
	font-size: 45px;
}

.section.mainslider .coutbloc.countfirstslider {
	padding-left: 0;
}

.section.mainslider .coutbloc.countfirstslider .arrowmain a {
	float: right;
	background-position: 100% 0;
}

.section.mainslider .owlmain .item {
	height: calc(100vh - 200px);
	line-height: calc(100vh - 200px);
	background-size: auto 100% !important;
	position: relative;
}

.section.mainslider .owlmain .item .wraslider {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	font-size: 18px;
	color: #fff;
	max-width: 650px;
	font-weight: 100;
	min-height: 370px;
	padding-top: 0;
	padding-top: 70px;
}

.section.mainslider .owlmain .item .wraslider .s_title {
	font-size: 45px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 20px;
}

.section.mainslider .owlmain .item .wraslider .s_title span {
	display: inline-block;
	font-weight: 300;
}

.section.mainslider .owlmain .item .wraslider .s_text {
	margin-bottom: 20px;
}

.section.mainslider .owlmain .item .wraslider a.all {
	display: inline-block;
	line-height: 55px;
	text-align: center;
	width: 100%;
	text-decoration: none;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 40px;
	max-width: 235px;
	background: #21beb2;
	font-size: 13px;
}

.section.mainslider .owlmain .item .wraslider a.all:hover {
	border-color: #21beb2;
	background: none;
}

.section.premiummain {
	background: #228b99 url(../images/premiummain.jpg) 50% 0 no-repeat;
	background-size: cover;
}

.section.premiummain .blocks {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 0;
	border-top: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1110px;
}

.section.premiummain .blocks a {
	width: 33.33%;
	text-align: center;
	min-height: 90px;
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 22px;
	text-decoration: none;
	color: #fff;
	padding: 15px 27px;
	box-sizing: border-box;
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 0;
	border-bottom: 0;
}

.section.premiummain .blocks a img {
	margin-right: 30px;
	max-width: 45px;
}

.section.premiummain .blocks a:hover {
	background-color: #032a4b;
}

.section .wrapp {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	line-height: 1;
	color: #fff;
	padding-bottom: 70px;
}

.section .wrapp .b_title {
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 40px;
}

.section .scroll {
	position: absolute;
	bottom: 40px;
	cursor: pointer;
	left: 50%;
	width: 20px;
	z-index: 2;
	height: 30px;
	background: url(../images/scroll.png) 0 0 no-repeat;
}

.mainblockcontent {
	font-size: 13px;
	line-height: 21px;
	margin: 0 auto;
	text-align: center;
}

.mainblockcontent .title {
	font-size: 64px;
	font-weight: 100;
	line-height: 1;
	padding-top: 215px;
	background: url(../media/zub.gif) 50% 0 no-repeat;
	background-size: 320px 180px;
}

.mainblockcontent .title span {
	color: #21beb2;
	font-weight: 500;
}

.mainblockcontent .text {
	margin: 20px auto 40px;
	max-width: 600px;
}

.mainblockcontent .linkblock {
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.mainblockcontent .linkblock a {
	display: inline-block;
	vertical-align: top;
	line-height: 55px;
	padding: 0 55px;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 35px;
	border: 1px solid #21beb2;
	margin-left: 35px;
}

.mainblockcontent .linkblock a:first-child {
	margin-left: 0;
}

.mainblockcontent .linkblock a:last-child {
	padding-right: 65px;
	background: url(../images/arrowmainbut.png) 100% 0 no-repeat;
}

.mainblockcontent .linkblock a:hover {
	background-color: #21beb2;
}

.contetn {
	padding: 30px 0;
}

.site_title {
	text-align: center;
	overflow: hidden;
	line-height: 1.3;
	font-size: 35px;
	color: #333333;
}

.site_title>span {
	display: inline-block;
	padding: 0 30px;
	text-transform: uppercase;
	position: relative;
}

.site_title>span:before {
	content: '';
	position: absolute;
	top: 18px;
	left: -300000px;
	right: 100%;
	height: 1px;
	background: #ededed;
}

.site_title>span:after {
	content: '';
	position: absolute;
	top: 18px;
	right: -300000px;
	left: 100%;
	height: 1px;
	background: #ededed;
}

.site_title>span span {
	display: block;
	font-weight: 300;
	font-size: 16px;
	text-transform: none;
	line-height: 1;
	margin-top: 7px;
}

.all_b_title {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 36px;
	line-height: 1;
	color: #333333;
}

.all_b_title span {
	font-weight: 500;
	display: block;
}

.blokc_title {
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 500;
}

.siteinfoblock {
	background: #032a4b;
	padding: 50px 15px;
	text-align: center;
	color: #fff;
}

.siteinfoblock .title {
	font-size: 35px;
	line-height: 1;
	text-transform: uppercase;
}

.siteinfoblock .text {
	margin: 20px 0;
}

.siteinfoblock p {
	margin: 0;
}

.siteinfoblock a {
	line-height: 55px;
	width: 100%;
	max-width: 235px;
	background: #ffffff;
	border-radius: 30px;
	line-height: 55px;
	border: 1px solid #ffffff;
	display: inline-block;
	color: #032a4b;
}

.siteinfoblock a:hover {
	text-decoration: none;
	background: none;
	color: #fff;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #21beb2;
	padding: 40px 0;
	font-size: 13px;
}

.footer .footer_wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.footer a {
	color: #fff;
}

.footer .righblock {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .logo_bot {
	font-size: 0;
}

.footer .footermenu {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-right: 40px;
	justify-content: space-between;
}

.footer .footermenu ul {
	padding: 0;
	list-style: none;
	margin: 0 0 0 35px;
}

.footer .footermenu ul:first-child {
	margin: 0;
}

.footer .footermenu li a {
	padding-left: 15px;
	position: relative;
	display: block;
	text-align: left;
}

.footer .footermenu li a:before {
	content: '';
	left: 0;
	top: 10px;
	margin-top: -2px;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
}

.footer .footermenu li a span {
	display: inline-block;
	line-height: 14px;
	border-bottom: 1px solid #fff;
}

.footer .footermenu li a:hover span {
	border-color: transparent;
}

.footer .copyright a span {
	display: inline-block;
	line-height: 14px;
	border-bottom: 1px solid #fff;
}

.footer .copyright a:hover span {
	border-color: transparent;
}

@media screen and (max-height:570px) {
	.section.mainslider .coutbloc {
		margin-top: 0;
		top: 200px;
	}
	.section.mainslider .owlmain .item .wraslider {
		min-height: auto;
		vertical-align: top;
	}
	.mainblockcontent .title {
		font-size: 75px;
		word-wrap: break-word;
	}
}

@media screen and (max-height:710px) {
	.section .wrapp {
		padding-bottom: 0;
	}
	.section .scroll {
		bottom: 20px;
	}
}

@media screen and (max-height:665px) {
	.mainblockcontent .title {
		padding-top: 100px;
		background-size: auto 100px;
	}
}

@media screen and (max-height:599px) {
	.mainblockcontent .title {
		padding-top: 0;
		background: none;
	}
}

@media screen and (max-height:620px) {
	.section .scroll {
		display: none;
	}
}

@media screen and (max-width:1490px) {
	.header {
		background-position: 50% 0;
		background-size: 100% 100%;
	}
	.phone_top {
		width: auto;
	}
	.section.main {
		padding-top: 150px;
	}
	.section .scroll {
		margin-left: 0px;
	}
}

@media screen and (max-width:1400px) {
	.section.mainslider .owlmain .item {
		background-size: 80% auto !important;
	}
}

@media screen and (max-width:1366px) {
	.mainblockcontent .title {
		font-size: 50px;
	}
}

@media screen and (max-width:1300px) {
	#fp-nav {
		right: 5px;
	}
	.blockin {
		padding-left: 20px;
		padding-right: 30px;
	}
	.section.mainslider .coutbloc {
		left: 20px;
	}
	.section .scroll {
		margin-left: -5px;
	}
}

@media screen and (max-width:1200px) {
	.header {
		min-height: 80px;
		padding: 11px 0 35px;
	}
	.mainblockcontent .title {
		font-size: 44px;
	}
	.section {
		padding-top: 0;
	}
	.section .item {
		padding-top: 140px;
	}
	.section.main {
		line-height: 1;
	}
	.section.mainslider .coutbloc {
		top: 140px;
		margin-top: 0;
	}
	.section.premiummain {
		padding-top: 100px;
		padding-bottom: 20px;
		line-height: calc(100vh - 120px);
	}
	.section.mainslider .owlmain .item {
		height: calc(100vh - 120px);
		line-height: calc(100vh - 120px);
	}
	.phone_top {
		width: 250px;
	}
	.phone_top span {
		font-size: 26px;
	}
	.logo {
		margin-right: 10px;
		margin-top: 7px;
		width: 200px;
	}
	.top_menu {
		padding-right: 100px;
	}
	.top_menu ul li a {
		font-size: 14px;
	}
}

@media screen and (max-width:1040px) {
	.footer .footermenu {
		padding-right: 15px;
	}
	.footer .footermenu ul {
		margin-left: 15px;
	}
}

@media screen and (max-width:1024px) {
	.section.mainslider .owlmain .item {
		background-size: 70% auto !important;
	}
}

@media screen and (max-width:991px) {
	.phone_top {
		display: none;
	}
	.burger {
		display: block;
	}
	.top_menu {
		z-index: 3;
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		width: 100%;
		right: 0;
		background: #fff;
		bottom: 100%;
		text-align: left;
		padding: 0;
		transition: all 0.4s ease 0s;
		padding: 0 13px 0;
		box-sizing: border-box;
	}
	.top_menu.open {
		bottom: 0;
		padding: 15px 13px 25px;
	}
	.top_menu ul {
		display: block;
	}
	.top_menu ul li {
		display: block;
	}
	.top_menu ul li.active a {
		color: #2dc9bd;
		background: #f4f4f4;
		text-decoration: none;
	}
	.top_menu ul li a {
		font-size: 14px;
		color: #333333;
		line-height: 40px;
		padding: 0 20px;
	}
	.top_menu ul li a:hover {
		color: #2dc9bd;
		background: #f4f4f4;
		text-decoration: none;
	}
	.section.premiummain .blocks a {
		padding: 20px;
		min-height: auto;
	}
}

@media screen and (max-width:970px) {
	.section.contactssection .contacts_content {
		padding-top: 220px;
	}
}

@media screen and (max-width:940px) {
	.footer .footer_wrap {
		display: block;
		text-align: center;
	}
	.footer .righblock {
		display: block;
	}
	.footer .righblock .footermenu {
		padding: 0 0 10px 0;
	}
}

@media screen and (max-width:767px) {
	.site_title {
		font-size: 26px;
	}
	.all_b_title {
		font-size: 20px;
	}
	.blokc_title {
		font-size: 22px;
	}
	.section .wrapp .b_title {
		font-size: 30px;
		margin-bottom: 25px;
	}
	.blockin {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header {
		background-position: 50% 0;
		background-size: 1000% 100%;
		padding: 11px 0 20px;
	}
	.burger span {
		background: #fff;
	}
	.burger.open span {
		background: #333333;
	}
	.section.mainslider {
		padding-top: 85px;
		height: auto;
		line-height: 1;
	}
	.section.mainslider .coutbloc {
		top: 30px;
		margin-top: 0;
		left: 50%;
		margin-left: -82px;
	}
	.section.premiummain {
		line-height: 1;
		padding: 25px 0;
	}
	.section.main {
		padding-top: 120px;
	}
	.section.mainslider .owlmain .item {
		height: auto;
		line-height: 1;
		background: none !important;
		padding-bottom: 20px;
		text-align: center;
		padding-top: 0;
	}
	.section.mainslider .owlmain .item .wraslider {
		min-height: auto;
		padding-top: 0;
	}
	.section.mainslider .owlmain .item .wraslider .s_title {
		font-size: 35px;
	}
	.section.premiummain {
		padding-top: 25px;
	}
	.section.premiummain .blocks a {
		width: 50%;
	}
	.section.premiummain .wrapp {
		padding-bottom: 0;
	}
	.mainblockcontent {
		padding-bottom: 20px;
	}
	.mainblockcontent .title {
		padding-top: 100px;
		background: url(../media/zub.gif) 50% 0 no-repeat;
		background-size: auto 100px;
	}
	.footer {
		padding: 15px 0;
	}
	.footer .footermenu {
		padding: 15px 0;
	}
	.footer .righblock {
		display: block;
	}
	.scroll {
		display: none;
	}
}

@media screen and (max-width:630px) {
	.mainblockcontent .linkblock a {
		display: block;
	}
	.mainblockcontent .linkblock a:last-child {
		margin: 20px 0 0;
	}
}

@media screen and (max-width:600px) {
	.logo {
		width: 155px;
	}
	.section.premiummain .blocks a {
		width: 100%;
		min-height: auto;
	}
}

@media screen and (max-width:550px) {
	.footer .footermenu {
		flex-wrap: wrap;
	}
	.footer .footermenu ul {
		width: 47%;
		margin: 1px 0 0;
	}
	.footer .footermenu ul:first-child {
		margin-top: 1px;
	}
}

@media screen and (max-width:530px) {
	.mainblockcontent .title {
		font-size: 40px;
	}
}

@media screen and (max-width:400px) {
	.header {
		background-position: 50% 0;
		background-size: cover;
	}
	.footer .footermenu {
		display: block;
		text-align: center;
	}
	.footer .footermenu ul {
		width: 100%;
		margin: 10px 0 0;
	}
	.footer .footermenu ul li {
		text-align: center;
	}
	.footer .footermenu ul li a {
		display: inline-block;
		padding: 0;
	}
	.footer .footermenu ul li a:before {
		display: none;
	}
}

@media screen and (max-width:1440px) and (max-height:900px) {
	.section.mainslider .owlmain .item {
		background-size: auto 100% !important;
	}
}

@media screen and (max-width:1200px) and (max-height:850px) {
	.section.mainslider .owlmain .item {
		background-size: 100% auto !important;
	}
}

@media screen and (max-width:800px) and (max-height:850px) {
	.section.mainslider .owlmain .item {
		line-height: 1;
		background-size: 100% auto !important;
	}
}

@media screen and (max-width:1200px) and (max-height:870px) {
	.section.mainslider .owlmain .item {
		line-height: 1;
		background-size: 100% auto !important;
	}
}

@media screen and (max-width:768px) and (max-height:1024px) {
	.section.mainslider .owlmain .item {
		line-height: 1;
		background-size: 100% auto !important;
	}
}

@media screen and (max-width:1024px) and (max-height:1366px) {
	.section.mainslider .owlmain .item {
		line-height: 1;
		background-size: 100% auto !important;
	}
}

@media screen and (max-width:1024px) and (max-height:768px) {
	.section.mainslider .owlmain .item {
		background-size: 90% auto !important;
	}
}

@media screen and (max-width:700px) and (max-height:860px) {
	.section.mainslider .owlmain .item {
		background-size: auto 100% !important;
	}
}

.doctor_list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px 20px 0;
	max-width: 1280px;
	margin: 0 auto;
}

.doctor_list a {
	width: 25%;
	padding: 30px 15px;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
}

.doctor_list a .imgblock {
	display: block;
}

.doctor_list a .imgblock img {
	border-radius: 50%;
}

.doctor_list a .text {
	display: block;
	font-size: 13px;
	line-height: 18px;
	color: #666666;
}

.doctor_list a .name {
	display: block;
	margin: 25px 0 15px;
	font-size: 16px;
	color: #032a4b;
	font-weight: 500;
}

.doctor_list a:hover {
	background: #f5f5f5;
}

@media screen and (max-width:990px) {
	.doctor_list a {
		width: calc(100%/3);
	}
}

@media screen and (max-width:767px) {
	.doctor_list a {
		width: calc(100%/2);
	}
}

@media screen and (max-width:570px) {
	.doctor_list a {
		width: 100%;
	}
}

.site_pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.site_pagination ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 4px;
}

.site_pagination ul li a,
.site_pagination ul li span {
	display: block;
	padding: 6px 14px;
	font-size: 15px;
	color: #666666;
	line-height: 24px;
	border-radius: 8px;
}

.site_pagination ul li a:hover,
.site_pagination ul li span:hover {
	background: #032a4b;
	color: #d6d9dc;
	text-decoration: none;
}

.site_pagination ul li span {
	background: #032a4b;
	color: #d6d9dc;
}

.bodyfaq {
	font-size: 15px;
	line-height: 30px;
	font-family: "Roboto";
	padding-bottom: 20px;
}

.faq_block {
	padding-top: 30px;
}

.faq_block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.faq_block ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 30px;
}

.faq_block ul li a {
	font-size: 13px;
	color: #032a4b;
}

.faq_wrap {
	padding: 50px 20px;
	background: #f8f8f8;
}

.faq_wrap .info_blocks {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1090px;
	margin: 0 auto;
}

.faq_wrap .info_blocks .block {
	width: 30%;
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #e5e5e5;
	border-top: 0;
}

.faq_wrap .info_blocks .block img {
	width: 100%;
}

.faq_wrap .info_blocks .block .b_wrap {
	text-align: center;
	padding: 30px 25px;
}

.faq_wrap .info_blocks .block .title {
	font-size: 22px;
	color: #333333;
	line-height: 27px;
}

.faq_wrap .info_blocks .block .text {
	margin: 20px 0;
}

.faq_wrap .info_blocks .block a {
	display: inline-block;
	max-width: 235px;
	text-align: center;
	width: 100%;
	line-height: 55px;
	font-size: 13px;
	color: #e5e7e9;
	background: #032a4b;
	border-radius: 30px;
	border: 1px solid #032a4b;
}

.faq_wrap .info_blocks .block a:hover {
	background: none;
	color: #032a4b;
	text-decoration: none;
}

@media screen and (max-width:990px) {
	.faq_wrap .info_blocks .block {
		width: 48%;
	}
}

@media screen and (max-width:767px) {
	.faq_block ul li {
		margin: 0 5px;
	}
}

@media screen and (max-width:650px) {
	.faq_wrap .info_blocks .block {
		width: 100%;
	}
}

.section.abouttop {
	background: url(../images/abautbg.jpg) 50% 50% no-repeat;
	background-size: cover;
	padding-top: 200px;
}

.section.abouttop .title {
	padding-top: 0;
	background: none;
}

.about_textblock {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.about_textblock .left {
	width: 40%;
	background: #f7f7f7;
	padding: 30px 20px 30px 20px;
	box-sizing: border-box;
}

.about_textblock .left .title {
	line-height: 1;
	margin-bottom: 25px;
	font-size: 36px;
	color: #333333;
	font-weight: 500;
	text-transform: uppercase;
}

.about_textblock .imgblock {
	margin: auto auto 0;
	width: 60%;
	box-sizing: border-box;
	font-size: 0;
	line-height: 0;
	padding: 0 15px;
	text-align: right;
}

.about_textblock .imgblock img {
	max-width: 100%;
	max-width: 500px;
}

.sale_about {
	position: relative;
	background: #032a4b url(../images/salebg.jpg) 0 0 no-repeat;
	background-size: cover;
	padding: 50px 0;
	color: #fff;
	overflow: hidden;
}

.sale_about:before {
	content: '';
	position: absolute;
	top: 100px;
	left: 145px;
	width: 715px;
	height: 343px;
	background: url(../images/salebg2.png) 0 0 no-repeat;
}

.sale_about:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 185px;
	height: 185px;
	background: url(../images/saleright.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

.sale_about .body {
	position: relative;
	padding-left: 55px;
	padding-right: 200px;
}

.sale_about .body .item {
	max-width: 1100px;
	box-sizing: border-box;
	padding-top: 110px;
	position: relative;
	padding-right: 470px;
	min-height: 345px;
}

.sale_about .body .item .title {
	margin-bottom: 26px;
	font-size: 27px;
	line-height: 1;
	font-weight: 500;
}

.sale_about .body .item img {
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	border: 13px solid #0b416f;
	border-radius: 50%;
}

.sale_about .body .owl-nav {
	position: absolute;
	top: 160px;
	left: -60px;
	max-width: 750px;
	right: 400px;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.sale_about .body .owl-nav div {
	float: right;
	width: 18px;
	height: 35px;
	cursor: pointer;
	background: url(../images/w_arrow.png) 100% 0 no-repeat;
	opacity: 0.9;
}

.sale_about .body .owl-nav div:first-child {
	float: left;
	background-position: 0 0;
}

.sale_about .body .owl-nav div:hover {
	opacity: 1;
}

.section.aboutpremium {
	line-height: 1;
	padding: 40px 0;
	background: url(../images/aboutpremium.jpg) 50% 0 no-repeat;
	background-size: 100% 100%;
}

.section.aboutpremium .wrapp {
	padding-bottom: 0;
}

.section.aboutpremium .b_title {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 36px;
	color: #333333;
}

.section.aboutpremium .b_title span {
	font-weight: 500;
}

.section.aboutpremium .blocks {
	border-color: #e0e3e6;
}

.section.aboutpremium .blocks a {
	border-color: #e0e3e6;
	color: #848484;
}

.section.aboutpremium .blocks a img {
	display: block;
}

.section.aboutpremium .blocks a img+img {
	display: none;
}

.section.aboutpremium .blocks a:hover {
	color: #fff;
}

.section.aboutpremium .blocks a:hover img {
	display: none;
}

.section.aboutpremium .blocks a:hover img+img {
	display: block;
}

.aboutblocks {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.aboutblocks .block {
	box-sizing: border-box;
	padding: 40px;
}

.aboutblocks .block .title {
	font-size: 22px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 25px;
}

.aboutblocks .block.first {
	width: 33%;
	padding-left: 80px;
}

.aboutblocks .block.center {
	width: 32%;
	background: #f7f7f7;
}

.aboutblocks .block.center a {
	display: inline-block;
	margin-top: 30px;
	line-height: 43px;
	padding-left: 45px;
	background: url(../images/pdfabout.png) 0 0 no-repeat;
	text-decoration: none;
}

.aboutblocks .block.center a:hover {
	text-decoration: underline;
}

.aboutblocks .block.right {
	background: url(../images/aboutblockrightbg.jpg) 50% 0 no-repeat;
	background-size: cover;
	width: 35%;
	min-height: 257px;
}

.thanks_block {
	background: #21beb2;
	color: #fff;
	padding: 50px 0;
}

.thanks_block .site_title span {
	color: #fff;
}

.thanks_block .site_title span:before,
.thanks_block .site_title span:after {
	background: #38c5ba;
}

.thanks_block .body {
	max-width: 600px;
	margin: 35px auto 0;
	padding: 0 70px;
	position: relative;
}

.thanks_block .body .item {
	padding-top: 25px;
	background: url(../images/brek.png) 50% 0 no-repeat;
	text-align: center;
}

.thanks_block .body .item img {
	display: block;
	width: auto;
	margin: 0 auto;
	border-radius: 50%;
}

.thanks_block .body .item .name {
	margin: 40px 0 20px;
	font-size: 18px;
	font-weight: 500;
}

.thanks_block .body .item .name span {
	font-weight: 300;
	font-style: italic;
	font-size: 13px;
}

.thanks_block .body .owl-nav {
	position: absolute;
	bottom: 60px;
	left: -60px;
	right: -60px;
	height: 0;
	font-size: 0;
}

.thanks_block .body .owl-nav div {
	float: right;
	width: 19px;
	height: 36px;
	background: url(../images/w_arrow.png) 100% 0 no-repeat;
}

.thanks_block .body .owl-nav div:first-child {
	float: left;
	background-position: 0 0;
}

.about_sert {
	padding-top: 40px;
	background: #fcfcfc;
}

.about_sert .site_title {
	text-transform: uppercase;
}

.about_sert .owlblock {
	margin-top: 37px;
	position: relative;
	background: #fff;
}

.about_sert .owlblock:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	background: #f4f4f4;
}

.about_sert .owlblock .body {
	padding: 100px 85px;
	max-width: 1250px;
	margin: 0 auto;
}

.about_sert .owlblock .owl-nav {
	position: absolute;
	top: 50%;
	height: 0;
	left: -70px;
	right: -70px;
	margin-top: -14px;
}

.about_sert .owlblock .owl-nav div {
	float: right;
	cursor: pointer;
	width: 19px;
	height: 35px;
	font-size: 0;
	opacity: 0.8;
	background: url(../images/arrowaboutser.png) 100% 0 no-repeat;
	transition: all 0.4s ease 0s;
}

.about_sert .owlblock .owl-nav div:first-child {
	float: left;
	background-position: 0 0;
}

.about_sert .owlblock .owl-nav div:hover {
	opacity: 1;
}

.about_sert .owlblock .owl-dots {
	display: none;
	text-align: center;
	font-size: 0;
	line-height: 0;
	padding-top: 30px;
}

.about_sert .owlblock .owl-dots div {
	display: inline-block;
	vertical-align: top;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #d6d6d6;
	margin-left: 5px;
}

.about_sert .owlblock .owl-dots div:hover,
.about_sert .owlblock .owl-dots div.active {
	background: #21beb2;
}

.about_sert .owlblock .owl-dots div:first-child {
	margin-left: 0;
}

@media screen and (max-width:1300px) {
	.about_textblock .left {
		padding: 15px;
	}
	.aboutblocks .block.first {
		padding-left: 20px;
	}
}

@media screen and (max-width:1200px) {
	.section.main.abouttop {
		line-height: calc(100vh - 200px);
	}
	.sale_about .body {
		padding-right: 100px;
	}
}

@media screen and (max-width:990px) {
	.sale_about .body {
		padding-right: 55px;
	}
	.sale_about .body .item {
		padding-right: 0;
	}
	.sale_about .body .item img {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		margin: 20px auto 0;
	}
	.sale_about .body .owl-nav {
		right: -60px;
		max-width: none;
	}
	.about_textblock .left {
		width: 100%;
		background: none;
		padding-bottom: 30px;
	}
	.about_textblock .imgblock {
		width: auto;
	}
	.aboutblocks .block.first,
	.aboutblocks .block.center {
		width: 50%;
	}
	.aboutblocks .block.right {
		display: none;
	}
}

@media screen and (max-width:767px) {
	.sale_about {
		padding: 30px 0;
	}
	.sale_about:before {
		display: none;
	}
	.sale_about:after {
		width: 77px;
		height: 77px;
	}
	.sale_about .body {
		padding: 0;
	}
	.sale_about .body .item {
		padding-top: 20px;
	}
	.sale_about .body .item .title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px;
	}
	.sale_about .body .owl-nav {
		position: relative;
		height: auto;
		top: auto;
		left: auto;
		right: auto;
		text-align: center;
		margin-top: 30px;
	}
	.sale_about .body .owl-nav div {
		float: none !important;
		display: inline-block;
		margin: 0 15px;
	}
	.about_sert {
		background: none;
		padding-top: 25px;
	}
	.about_sert .owlblock {
		margin-top: 0;
	}
	.about_sert .owlblock:before {
		display: none;
	}
	.about_sert .owlblock .body {
		padding: 25px 15px 20px;
	}
	.about_sert .owlblock .body .owl-nav {
		display: none;
	}
	.about_sert .owlblock .body .owl-dots {
		display: block;
	}
}

@media screen and (max-width:600px) {
	.section.aboutpremium {
		padding: 15px 0;
	}
	.section.aboutpremium .b_title,
	.section.aboutpremium .about_textblock .left .title {
		font-size: 22px;
	}
	.aboutblocks .block {
		padding: 25px 20px;
	}
	.aboutblocks .block.first,
	.aboutblocks .block.center {
		width: 100%;
	}
}

@media screen and (max-width:490px) {
	.thanks_block {
		padding: 25px 0;
	}
	.thanks_block .body {
		padding: 0 15px;
	}
	.thanks_block .body .owl-nav {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		height: auto;
		margin-top: 25px;
		text-align: center;
	}
	.thanks_block .body .owl-nav div {
		float: none !important;
		display: inline-block;
		margin: 0 15px;
	}
}

.doctor_page_top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 45px 0;
}

.doctor_page_top .left {
	width: 30%;
	background: #21beb2;
	text-align: center;
	box-sizing: border-box;
	padding: 45px 15px;
	font-size: 0;
	line-height: 0;
}

.doctor_page_top .left .site_but {
	background: #fff;
	color: #21beb2;
	border-color: #fff;
}

.doctor_page_top .left .site_but:hover {
	background: none;
	color: #fff;
}

.doctor_page_top .right {
	width: 70%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: space-between;
}

.doctor_page_top .right .top_block,
.doctor_page_top .right .doc_info,
.doctor_page_top .right .bottom_block,
.doctor_page_top .right .text_block {
	width: 100%;
	padding: 20px 40px;
}

.doctor_page_top .right .text_block {
	max-width: 600px;
}

.doctor_page_top .right .top_block .b_title {
	color: #032a4b;
}

.doctor_page_top .right .top_block .info {
	color: #032a4b;
}

.doctor_page_top .right .top_block .anonce {
	color: #666666;
}

.doctor_page_top .right .top_block .anonce span {
	font-weight: 400;
}

.doctor_page_top .right .doc_info {
	max-width: 600px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}

.doctor_page_top .right .doc_info .block {
	display: flex;
	max-width: 145px;
	line-height: 19px;
	align-items: center;
	margin-top: 20px;
	box-sizing: border-box;
	padding-right: 20px;
}

.doctor_page_top .right .doc_info .block img {
	margin-right: 20px;
}

.doctor_page_top .right .top_block .b_title {
	font-weight: bold;
}

.doctor_page_top .right .bottom_block,
.doctor_page_top .right .top_block {
	background: #f6f6f6;
}

.doctor_page_top .right .bottom_block .b_title,
.doctor_page_top .right .top_block .b_title {
	margin: 0 0 15px;
	font-size: 22px;
}

.doctor_page_top .right .bottom_block {
	box-sizing: border-box;
}

.doctor_page_top .right .bottom_block ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	max-width: 670px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.doctor_page_top .right .bottom_block ul li {
	display: flex;
	align-items: center;
	max-width: 244px;
	box-sizing: border-box;
	padding-right: 20px;
}

.doctor_page_top .right .bottom_block ul li img {
	margin-right: 20px;
}

.data_slider_wrap {
	margin-bottom: 45px;
}

.data_slider_wrap .site_title {
	text-transform: uppercase;
}

.data_slider_wrap .blockin {
	position: relative;
}

.data_slider_wrap .blockin:before {
	content: '';
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	height: 1px;
	background: #f4f4f4;
}

.data_slider_wrap .data_slider {
	padding-top: 30px;
	position: relative;
}

.data_slider_wrap .item {
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #989898;
}

.data_slider_wrap .item span {
	display: block;
	margin-top: 5px;
	font-size: 13px;
	font-style: italic;
}

.data_slider_wrap .item .min {
	margin-top: 10px;
	font-size: 13px;
}

.data_slider_wrap .item.style1 {
	color: #d1d1d1;
}

.data_slider_wrap .item.style1 .data {
	background: #7daad1;
}

.data_slider_wrap .item.style3 {
	color: #333333;
}

.data_slider_wrap .item.style3 .data {
	background: #032a4b;
}

.data_slider_wrap .item .data {
	line-height: 27px;
	display: inline-block;
	padding: 0 20px;
	background: #1f5888;
	font-size: 13px;
	color: #ffffff;
	font-style: italic;
	margin-bottom: 30px;
}

.data_slider_wrap .owl-nav {
	position: absolute;
	top: 26px;
	left: 0;
	right: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.data_slider_wrap .owl-nav div {
	float: right;
	cursor: pointer;
	width: 35px;
	height: 35px;
	background: #f3f3f3 url(../images/arrowsprite.png) 100% 0 no-repeat;
}

.data_slider_wrap .owl-nav div:first-child {
	float: left;
	background-position: 0 0;
}

.data_slider_wrap .owl-nav div:hover {
	background-color: #032a4b;
	background-position-y: 100%;
}

.doctor_thanks {
	background: #f6f6f6;
	color: #666666;
}

.doctor_thanks .site_title span {
	color: #333333;
}

.doctor_thanks .site_title span:before,
.doctor_thanks .site_title span:after {
	background: #e5e5e5;
}

.doctor_thanks .body .owl-nav div {
	background-image: url(../images/arrowaboutser.png);
	opacity: 0.8;
}

.doctor_thanks .body .owl-nav div:hover {
	opacity: 1;
}

.doc_page_infobot {
	background: url(../images/doctor_inbg.png) 0 0 repeat;
}

@media screen and (max-width:940px) {
	.doctor_page_top .left {
		width: 33%;
	}
	.doctor_page_top .right {
		width: 67%;
	}
	.doctor_page_top .right .top_block,
	.doctor_page_top .right .doc_info,
	.doctor_page_top .right .text_block,
	.doctor_page_top .right .bottom_block {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:800px) {
	.doctor_page_top .left {
		width: 100%;
		padding-bottom: 20px;
	}
	.doctor_page_top .right {
		width: 100%;
	}
	.doctor_page_top .right .top_block {
		background: #21beb2;
		color: #fff;
		text-align: center;
		padding-top: 0;
		font-size: 12px;
	}
	.doctor_page_top .right .top_block .b_title,
	.doctor_page_top .right .top_block .info,
	.doctor_page_top .right .top_block .anonce {
		color: #fff;
	}
	.doctor_page_top .right .top_block .b_title {
		font-size: 18px;
	}
}

@media screen and (max-width:767px) {
	.doctor_page_top .right .top_block {
		text-align: center;
	}
}

@media screen and (max-width:580px) {
	.doctor_page_top .right .doc_info {
		display: block;
	}
	.doctor_page_top .right .bottom_block ul {
		display: block;
	}
	.doctor_page_top .right .bottom_block ul li {
		margin-top: 20px;
		max-width: 100%;
	}
	.doctor_page_top .right .bottom_block ul li:first-child {
		margin-top: 0;
	}
}

.site_textblock {
	text-align: center;
}

.site_textblock.grey {
	background: #f7f7f7;
}

.site_textblock .wrap {
	max-width: 630px;
	margin: 0 auto;
	padding: 65px 15px 30px;
}

.site_textblock .wrap .site_title {
	text-transform: uppercase;
	margin: 0 0 20px;
}

.site_textblock img {
	display: block;
	margin: 0 auto;
}

.section.hygieneslider {
	background: #fff;
}

.section.hygieneslider .arrowmain div,
.section.hygieneslider .arrowmain a {
	background-image: url(../images/arrowaboutser.png);
}

.section.hygieneslider .coutbloc {
	color: #333333;
}

.section.hygieneslider .owlmain .item .wraslider {
	color: #333;
	line-height: 22px;
}

.section.hygieneslider .owlmain .item .wraslider .s_title span {
	font-weight: 100;
}

.section.hygieneslider .owlmain .item .wraslider a.all:hover {
	color: #21beb2;
}

.info_hygiene {
	background: #21beb2;
}

.info_hygiene .textblock {
	padding-right: 430px;
	background: url(../images/infohygi.png) 100% 50% no-repeat;
	min-height: 212px;
	color: #fff;
	max-width: 1100px;
	box-sizing: border-box;
}

.info_hygiene .textblock .title {
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	font-weight: 100;
}

.info_hygiene .textblock .title span {
	display: block;
	font-weight: 500;
}

.docte_info_block_page {
	padding: 70px 0;
}

.docte_info_block_page .left {
	float: left;
	position: relative;
	width: 472px;
	border: 12px solid #f0f0f0;
	margin-right: 70px;
	overflow: hidden;
}

.docte_info_block_page .left:before {
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	width: 61px;
	height: 57px;
	background: url(../images/watermark.png) 0 0 no-repeat;
}

.docte_info_block_page .left img {
	display: block;
}

.docte_info_block_page .left .min_text_info {
	min-height: 100px;
	height: 175px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 15px;
	background: rgba(255, 255, 255, 0.8);
	transition: all 0.2s ease-in-out;
}

.docte_info_block_page .left:hover .min_text_info {
	/* min-height: 100%; */
	height: auto;
	/* margin-bottom: 100px; */
	padding-bottom: 90px;
}

.docte_info_block_page .left .min_text_info .doc_info {
	display: none;
	padding: 0 20px !important;
	margin: 0 !important;
	align-items: center;
	justify-content: space-between;
}

.docte_info_block_page .left:hover .min_text_info .doc_info {
	display: block;
	margin-bottom: 70px !important;
}

.docte_info_block_page .left .min_text_info .doc_info .block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 !important;
	margin: 0 !important;
}

.docte_info_block_page .left .min_text_info .site_button_wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 10px;
}

.docte_info_block_page .left .min_text_info .site_button_wrap:before {
	content: '';
	display: block;
	width: 100%;
	filter: brightness(5000%);
	-webkit-filter: brightness(5000%);
	-moz-filter: brightness(5000%);
	-o-filter: brightness(5000%);
	-ms-filter: brightness(5000%);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.docte_info_block_page .left .min_text_info ul.doctor__text {
	margin: 0;
	padding: 0;
	list-style: none;
}
.docte_info_block_page .left .min_text_info ul.doctor__text:before {
	content:'';
	width:100%;
	height:100%;
	-webkit-filter: blur(100px);
	-moz-filter: blur(100px);
	-o-filter: blur(100px);
	-ms-filter: blur(100px);
	filter: blur(100px);
	display:inline-block;

	
}







.docte_info_block_page .left .min_text_info ul.doctor__text li {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

.docte_info_block_page .left .min_text_info ul.doctor__text li:last-child {
	margin-bottom: 0;
}

.docte_info_block_page .left .min_text_info ul.doctor__text li span {
	font-weight: 500;
	font-size: 14px;
	color: #666;
}

.docte_info_block_page .left .min_text_info ul.doctor__text li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 0 !important;
}

.docte_info_block_page .left:hover .min_text_info ul.doctor__text li.none {
	opacity: 1;
    // display: block;
    transition: opacity 1s ease;
}

.docte_info_block_page .left .min_text_info ul.doctor__text li.none {
	opacity: 0;
    // display: none;
    /*  transition: all 0.3s ease-in-out;*/
}

.docte_info_block_page .left .min_text_info ul.doctor__text li.none.icon1 {
  /*  transition-delay: 0.15s;
  transition-timing-function: linear;*/
}

.docte_info_block_page .left .min_text_info ul.doctor__text li.none.icon2 {
   /*transition-delay: 0.25s;
   transition-timing-function: linear;*/
}

.docte_info_block_page .left .min_text_info ul.doctor__text li.none.icon3 {
  /*  transition-delay: 0.35s;
  transition-timing-function: linear*/
}

.docte_info_block_page .left .min_text_info ul.doctor__text li.none.icon4 {
  /*  transition-delay: 0.45s;
  transition-timing-function: linear;*/
}

.docte_info_block_page .left .min_text_info ul.doctor__text li.none.img {
	margin-top: 10px;
}

.docte_info_block_page .left .min_text_info .doctor__text .full__name {
	font-size: 22px;
	color: #333;
	font-weight: 500;
	margin: 5px 0;
}

.docte_info_block_page .left .min_text_info .site_button_wrap a {
	min-width: 200px;
	margin-right: 15px;
}

.docte_info_block_page .left .min_text_info .site_button_wrap a:last-child {
	margin-right: 0;
}

.docte_info_block_page .left:hover .min_text_info .doc_info {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	visibility: visible !important;
}

.docte_info_block_page .left:hover .min_text_info .text .doc_education {
	display: block;
}

.docte_info_block_page .left .min_text_info:before {
	content: '';
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	background: #032a4b url(../images/true.png) 0 0 no-repeat;
	border-radius: 50%;
}

.docte_info_block_page .left .min_text_info .text span {
	font-weight: 500;
	display: block;
	font-size: 22px;
	line-height: 1;
	margin: 5px 0;
	color: #333333;
}

.docte_info_block_page .left .min_text_info .site_button_wrap a {
	background: #032a4b;
	border-color: #032a4b;
	color: #fff;
}

.docte_info_block_page .left .min_text_info .site_button_wrap a:hover {
	color: #032a4b;
	background: none;
}

.docte_info_block_page .right {
	overflow: hidden;
	padding-left: 13px;
}

.docte_info_block_page .right .titleblock {
	font-size: 36px;
	line-height: 43px;
	font-weight: 300;
	color: #333333;
	text-transform: uppercase;
}

.docte_info_block_page .right .titleblock span {
	font-weight: 500;
	color: #032a4b;
	display: block;
}

.docte_info_block_page .right .min_info {
	margin: 25px 0;
	font-size: 22px;
	color: #666666;
}

.docte_info_block_page .right .service_title {
	line-height: 1;
	font-size: 22px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
	margin-top: 40px;
}

.docte_info_block_page .right ul {
	padding: 0;
	margin: 0;
	list-style: none;
	counter-reset: heading;
}

.docte_info_block_page .right ul.implontant li:before {
	display: none;
}

.docte_info_block_page .right ul.implontant li span {
	font-size: 22px;
}

.docte_info_block_page .right ul.implontant li span span {
	display: inline-block;
	font-weight: 500;
	color: #032a4b;
}

.docte_info_block_page .right ul li {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 70px;
	counter-increment: heading;
}

.docte_info_block_page .right ul li img {
	margin-right: 36px;
}

.docte_info_block_page .right ul li:before {
	content: "0" counter(heading);
	position: absolute;
	top: 50%;
	left: -11px;
	width: 27px;
	height: 27px;
	text-align: center;
	border-radius: 50%;
	line-height: 27px;
	color: #fff;
	margin-top: -17px;
	background: #032a4b;
}

.docte_info_block_page .right ul li:after {
	content: '';
	position: absolute;
	top: -45px;
	left: 44px;
	width: 17px;
	height: 24px;
	background: url(../images/nextbot.png) 0 0 no-repeat;
}

.docte_info_block_page .right ul li:first-child {
	padding-top: 0;
	margin-top: 0;
}

.docte_info_block_page .right ul li:first-child:after {
	display: none;
}

.docte_info_block_page .right ul li .rightblock span {
	display: block;
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 1;
}

.docte_info_block_page .right .info_bot {
	margin-top: 60px;
	line-height: 27px;
	font-size: 13px;
	color: #666666;
}

.docte_info_block_page .right .info_bot span {
	color: #36a2f6;
}

.docte_info_block_page:after {
	content: '';
	display: block;
	clear: both;
}

.counter_block {
	padding: 50px 0;
}

.counter_block .site_title {
	text-transform: uppercase;
}

.counter_block .body_count {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.counter_block .body_count .block {
	margin-top: 50px;
	width: 30%;
	text-align: center;
}

.counter_block .body_count .block .num {
	font-size: 75px;
	line-height: 1;
	color: #032a4b;
	font-weight: 500;
	margin: 0 0 7px;
}

.counter_block .body_count .block .num span {
	font-size: 22px;
	display: block;
	color: #333333;
}

.cleaning_block {
	background: #f7f7f7;
}

.cleaning_block .site_title_clean {
	line-height: 44px;
	font-size: 36px;
	color: #333333;
	font-weight: 500;
	color: #032a4b;
	text-transform: uppercase;
}

.cleaning_block .site_title_clean.title2 {
	padding-bottom: 20px;
}

.cleaning_block .site_title_clean.title2 span {
	font-weight: 500;
}

.cleaning_block .site_title_clean span {
	display: block;
	font-weight: 300;
}

.cleaning_block .site_title_clean span span {
	display: inline-block;
	color: #333333;
}

.cleaning_block .text_chistka {
	max-width: 740px;
}

.cleaning_block .min_title_c {
	font-size: 27px;
	color: #333333;
	margin: 40px 0 20px;
}

.cleaning_block .bodyblock {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cleaning_block .bodyblock .block {
	width: 40%;
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.cleaning_block .bodyblock .block img {
	border-radius: 50%;
	margin-right: 50px;
}

.cleaning_block .bodyblock .block .textblock {
	line-height: 21px;
}

.cleaning_block .bodyblock .block .textblock span {
	display: block;
	margin-bottom: 10px;
	font-size: 22px;
	color: #333333;
}

.cleaning_block.bottomblock .site_title_clean span {
	font-weight: 500;
}

.cleaning_block.bottomblock .site_title_clean span span {
	font-weight: 300;
}

.chistka {
	padding: 40px 40px 40px 80px;
}

.chistka.grey {
	background: #f7f7f7;
}

.chistka .site_title {
	text-align: left;
	text-transform: uppercase;
	font-size: 36px;
}

.chistka .body_block {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.chistka .body_block .block {
	width: 49%;
	padding-right: 30px;
	box-sizing: border-box;
	margin-top: 35px;
}

.chistka .body_block .block .top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	font-size: 22px;
	line-height: 1;
	color: #032a4b;
	font-weight: 500;
}

.chistka .body_block .block .top img {
	margin-right: 17px;
}

.chistka .body_block .block .text {
	padding-left: 93px;
}

.consultblock {
	display: flex;
	align-items: center;
	padding-left: 80px;
	overflow: hidden;
}

.consultblock .b_title {
	line-height: 1;
	font-size: 36px;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0 0 20px;
	color: #333333;
}

.consultblock .b_title span {
	display: block;
	font-weight: 500;
}

.consultblock img {
	margin-left: 40px;
}

.immplontantblock {
	padding: 40px 0 0px;
}

.immplontantblock .site_title {
	font-weight: 300;
	text-transform: uppercase;
}

.immplontantblock .imwrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 40px;
}

.immplontantblock .imwrap .block {
	width: calc(100%/3);
	padding: 40px 60px 70px;
	background: #f5f5f5;
	text-align: center;
}

.immplontantblock .imwrap .block:first-child {
	background: #f7f7f7;
}

.immplontantblock .imwrap .block:last-child {
	background: #f2f2f2;
}

.immplontantblock .imwrap .block .title {
	margin: 20px 0;
	line-height: 27px;
	font-size: 22px;
	font-weight: 500;
	color: #032a4b;
}

.tooth_i {
	padding: 60px 0;
}

.tooth_i .wrapblock {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.tooth_i .wrapblock .block {
	width: 49%;
}

.tooth_i .wrapblock .block .title {
	font-size: 36px;
	line-height: 1;
	color: #333333;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.tooth_i .wrapblock .imgblock {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 419px;
	justify-content: space-between;
}

.tooth_i .wrapblock .imgblock img {
	margin-top: 50px;
	width: 178px;
	max-width: 178px;
	height: 178px;
	align-self: flex-start;
}

.infotextblock {
	text-align: center;
	padding: 155px 15px 65px;
	margin: 0 auto;
	max-width: 720px;
	position: relative;
	background: url(../images/texinfobg.png) 50% 0 no-repeat;
}

.infotextblock:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 2px;
	margin-left: -1px;
	height: 57px;
	background: #ececec;
}

.infotextblock .title {
	line-height: 1.3;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 35px;
	color: #666666;
	font-weight: 300;
}

.infotextblock .title span {
	font-weight: 500;
	display: block;
}

.info_hygiene.implontant .textblock {
	background-image: url(../images/implantationright.png);
}

@media screen and (max-width:1300px) {
	.consultblock,
	.chistka {
		padding-left: 15px;
	}
}

@media screen and (max-width:1200px) {
	.cleaning_block .bodyblock .block {
		width: 48%;
	}
	.immplontantblock .imwrap .block {
		padding: 15px;
	}
}

@media screen and (max-width:1024px) {
	.chistka .body_block .block {
		width: 50%;
	}
	.info_hygiene .textblock {
		padding-right: 235px;
	}
	.docte_info_block_page {
		padding: 20px 0;
	}
	.docte_info_block_page .left {
		width: 360px;
		margin-right: 20px;
	}
	.docte_info_block_page .left img {
		margin: 0 auto;
	}
}

@media screen and (max-width:980px) {
	.consultblock {
		padding: 0;
		display: block;
		padding-top: 25px;
	}
	.consultblock .textblock {
		padding: 0 20px;
	}
	.consultblock img {
		display: none;
	}
	.cleaning_block .bodyblock .block img {
		margin-right: 10px;
	}
	.counter_block .body_count .block .num {
		font-size: 55px;
	}
}

@media screen and (max-width:860px) {
	.docte_info_block_page .left {
		float: none;
		width: 100%;
		margin: 0 0 20px;
		box-sizing: border-box;
	}
}

@media screen and (max-width:890px) {
	.tooth_i .wrapblock {
		display: block;
	}
	.tooth_i .wrapblock .block {
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	.siteinfoblock .title {
		font-size: 22px;
	}
	.tooth_i {
		padding: 20px 0;
	}
	.tooth_i .wrapblock .block .title {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.docte_info_block_page .right .titleblock {
		font-size: 20px;
		line-height: 1.3;
	}
	.section.hygieneslider {
		padding-top: 200px;
	}
	.section.hygieneslider .owlmain .item {
		padding-top: 0;
	}
	.section.hygieneslider .owlmain .item .wraslider .s_title {
		font-size: 25px;
	}
	.section.hygieneslider .owlmain .item .wraslider .s_text {
		font-size: 15px;
	}
	.section.hygieneslider .coutbloc {
		top: 140px;
	}
	.info_hygiene .textblock {
		background-position: 50% 100%;
		padding: 0 0 250px;
	}
	.info_hygiene .textblock .title {
		font-size: 20px;
		line-height: 1.3;
	}
	.info_hygiene .textblock .title span {
		display: inline-block;
	}
	.cleaning_block .bodyblock .block {
		width: 100%;
	}
	.cleaning_block .site_title_clean {
		font-size: 20px;
		line-height: 1.3;
	}
	.chistka {
		padding: 20px;
	}
	.chistka .site_title {
		font-size: 20px;
	}
	.chistka .body_block .block {
		width: 100%;
		padding: 0;
	}
	.chistka .body_block .block .top {
		font-size: 18px;
	}
	.chistka .body_block .block .text {
		padding-left: 0;
		margin-top: 10px;
	}
	.consultblock .b_title {
		font-size: 22px;
	}
	.counter_block .body_count .block {
		width: 100%;
	}
	.immplontantblock .imwrap {
		display: block;
	}
	.immplontantblock .imwrap .block {
		width: 100%;
		box-sizing: border-box;
	}
	.site_textblock .wrap {
		padding-top: 15px;
	}
	.infotextblock {
		background: none;
		padding: 15px;
	}
	.infotextblock .title {
		font-size: 22px;
		line-height: 1;
	}
	.infotextblock:before {
		display: none;
	}
	.cleaning_block .site_title_clean.title2 {
		padding-bottom: 5px;
	}
}

@media screen and (max-width:360px) {
	.docte_info_block_page .left .min_text_info {
		padding: 30px;
		font-size: 12px;
	}
	.docte_info_block_page .left .min_text_info .text span {
		font-size: 14px;
	}
	.docte_info_block_page .left .min_text_info .site_but {
		line-height: 40px;
		min-width: auto;
		width: 100%;
	}
}

@media screen and (max-width:480px) {
	.docte_info_block_page .right {
		padding-left: 0;
	}
	.docte_info_block_page .right ul li {
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	.docte_info_block_page .right ul li img {
		display: block;
		margin: 0 auto 20px;
	}
	.docte_info_block_page .right ul li:before {
		left: 50%;
		margin-left: -70px;
		top: 40px;
		margin-top: 0;
	}
	.docte_info_block_page .right ul li:after {
		display: none;
	}
	.cleaning_block .bodyblock .block {
		display: block;
		text-align: center;
	}
	.cleaning_block .bodyblock .block img {
		margin: 0 0 10px;
	}
	.tooth_i .wrapblock .imgblock img {
		width: 140px;
		margin-top: 20px;
		height: 140px;
	}
}

.info_hygiene.orthodontic .textblock {
	background-image: url(../images/orthodontic.png);
}

.docte_info_block_page.orthodontic .right .titleblock span {
	display: inline-block;
}

.orth_block {
	background: #f9f9f9;
	display: flex;
	align-items: center;
}

.orth_block.block2 {
	background: #f9f9f9;
}

.orth_block.block2 .leftblock {
	padding: 20px 50px;
}

.orth_block.block2 .imgblock {
	background: #fff;
	text-align: center;
}

.orth_block.block2 .imgblock img {
	margin: 30px;
	border-radius: 50%;
}

.orth_block .leftblock,
.orth_block .imgblock {
	width: 50%;
	box-sizing: border-box;
	padding: 10px 30px 10px 80px;
}

.orth_block .rightblock {
	width: 50%;
}

.orth_block .rightblock img {
	display: block;
	width: 100%;
}

.bottomm_orthodon {
	display: flex;
}

.bottomm_orthodon .left,
.bottomm_orthodon .right {
	width: 50%;
	box-sizing: border-box;
	padding: 50px 50px 50px 80px;
}

.bottomm_orthodon .left .top,
.bottomm_orthodon .right .top {
	min-height: 150px;
	padding-bottom: 0px;
	word-wrap: break-word;
}

.bottomm_orthodon .left .text,
.bottomm_orthodon .right .text {
	margin-top: 10px;
}

.bottomm_orthodon .left .body .block,
.bottomm_orthodon .right .body .block {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.bottomm_orthodon .left .body .block img,
.bottomm_orthodon .right .body .block img {
	margin-right: 50px;
	border-radius: 50%;
}

.bottomm_orthodon .left .body .block .textblock span,
.bottomm_orthodon .right .body .block .textblock span {
	display: block;
	font-size: 22px;
	line-height: 1;
	margin: 0 0 10px;
}

.bottomm_orthodon .right {
	background: #fafafa;
}

.site_jsonblock {
	padding: 50px 0 70px;
	background: #f7f7f7;
}

.site_jsonblock .site_title {
	text-transform: uppercase;
}

.site_jsonblock .body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site_jsonblock .body .block {
	width: 49%;
	min-width: 49%;
	background: #fff url(../images/ugol.png) 100% 0 no-repeat;
	margin-top: 40px;
	box-sizing: border-box;
	padding: 30px 30px 45px;
}

.site_jsonblock .body .block .b_title {
	margin-bottom: 20px;
	font-size: 22px;
	color: #333333;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}

.site_jsonblock .body .block .min_block {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.site_jsonblock .body .block .min_block img {
	border-radius: 50%;
	margin-right: 40px;
}

@media screen and (max-width:1300px) {
	.orth_block .leftblock {
		padding-left: 20px;
	}
	.orth_block.block2 .imgblock {
		padding-left: 0;
		padding-right: 0;
	}
	.bottomm_orthodon .right,
	.bottomm_orthodon .left {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:1200px) {
	.orth_block.block2 .imgblock img {
		margin: 30px 10px;
	}
}

@media screen and (max-width:870px) {
	.orth_block.block2 .imgblock img {
		width: 160px;
	}
	.bottomm_orthodon .left .body .block img,
	.bottomm_orthodon .right .body .block img {
		margin-right: 10px;
	}
}

@media screen and (max-width:767px) {
	.section.mainslider .orthodonticsslider .item {
		background: none !important;
	}
	.orth_block {
		display: block;
		text-align: center;
	}
	.orth_block .leftblock,
	.orth_block .rightblock,
	.orth_block .imgblock {
		width: 100%;
	}
	.orth_block .leftblock img,
	.orth_block .rightblock img,
	.orth_block .imgblock img {
		margin: 0 auto;
	}
	.site_jsonblock .body {
		display: block;
	}
	.site_jsonblock .body .block {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.site_jsonblock .body .block .min_block img {
		margin-right: 15px;
	}
	.bottomm_orthodon {
		display: block;
	}
	.bottomm_orthodon .left,
	.bottomm_orthodon .right {
		width: 100%;
		padding: 15px;
	}
	.bottomm_orthodon .left .top,
	.bottomm_orthodon .right .top {
		min-height: auto;
	}
	.bottomm_orthodon .left .body .block,
	.bottomm_orthodon .right .body .block {
		margin-top: 20px;
		align-items: flex-start;
	}
	.orth_block.block2 .leftblock {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width:390px) {
	.orth_block.block2 .imgblock img {
		width: 140px;
		margin: 10px 5px;
	}
	.site_jsonblock .body .block {
		text-align: center;
		background: #fff;
	}
	.site_jsonblock .body .block .min_block {
		display: block;
	}
	.site_jsonblock .body .block .min_block img {
		display: block;
		margin: 0 auto 10px;
	}
	.bottomm_orthodon .right .body .block,
	.bottomm_orthodon .left .body .block {
		display: block;
		text-align: center;
	}
}

.info_hygiene.proteth .textblock {
	background-image: url(../images/protethinfo.png);
}

.info_hygiene.proteth .textblock .title span {
	display: inline-block;
}

.prothe_textblock {
	padding: 60px 0 0;
}

.prothe_textblock .wrap {
	padding-top: 0;
	padding-bottom: 0;
	max-width: 845px;
}

.prothe_textblock .b_title {
	font-size: 36px;
	margin: 0 auto 20px;
	line-height: 1;
	font-weight: 300;
	color: #333333;
}

.prothe_textblock .b_title span {
	font-weight: 500;
}

.prothe_textblock .text {
	max-width: 670px;
	margin: 0 auto;
}

.prothe_json {
	padding-bottom: 30px;
}

.prothe_json .wrap_block {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.prothe_json .wrap_block .block {
	width: 49%;
}

.prothe_json .wrap_block .block span {
	display: block;
	font-size: 22px;
	color: #333333;
	margin-bottom: 15px;
	line-height: 1;
}

.counter_block.proteth {
	background: #f7f7f7;
}

.bottomblock_premium {
	text-align: center;
	padding: 50px 0;
	background: #f7f7f7;
}

.bottomblock_premium .body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bottomblock_premium .body .block {
	width: 315px;
	margin-top: 60px;
	line-height: 21px;
}

.bottomblock_premium .body .block img {
	display: block;
	margin: 0 auto 20px;
}

.bottomblock_premium .body .block span {
	display: block;
	font-size: 22px;
	font-weight: 500;
	margin: 0 0 10px;
	color: #032a4b;
}

.js_pic_block {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.js_pic_block.greybg {
	background: #f6f6f6;
}

.js_pic_block .rightimg {
	width: 575px;
	min-width: 575px;
}

.js_pic_block .rightimg img {
	display: block;
	max-width: 150%;
}

.js_pic_block .left_info {
	padding: 20px 40px 20px 80px;
}

.js_pic_block .left_info .title {
	font-size: 36px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 300;
	color: #333333;
	margin: 0 0 30px;
}

.js_pic_block .left_info .title span {
	font-weight: 500;
	color: #032a4b;
}

.js_pic_block .left_info .blocks .block {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.js_pic_block .left_info .blocks .block img {
	border-radius: 50%;
	margin-right: 30px;
}

@media screen and (max-width:1430px) {
	.js_pic_block {
		align-items: flex-start;
	}
}

@media screen and (max-width:1300px) {
	.js_pic_block .left_info {
		padding: 20px;
	}
	.js_pic_block .left_info .title {
		margin-bottom: 15px;
		font-size: 22px;
	}
	.js_pic_block .left_info .blocks .block {
		margin-top: 15px;
	}
}

@media screen and (max-width:1000px) {
	.bottomblock_premium .body {
		justify-content: space-around;
	}
	.bottomblock_premium .body .block {
		width: 45%;
	}
}

@media screen and (max-width:990px) {
	.js_pic_block {
		display: block;
	}
	.js_pic_block .rightimg {
		width: 100%;
		min-width: auto;
	}
	.js_pic_block .rightimg img {
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width:767px) {
	.prothe_textblock {
		padding-top: 20px;
	}
	.prothe_textblock .b_title {
		font-size: 22px;
	}
	.prothe_json {
		padding-top: 10px;
	}
	.prothe_json .wrap_block {
		width: 100%;
	}
	.bottomblock_premium {
		padding: 20px 0;
	}
}

@media screen and (max-width:600px) {
	.bottomblock_premium .body .block {
		width: 100%;
	}
}

@media screen and (max-width:390px) {
	.js_pic_block .left_info .blocks .block {
		display: block;
		text-align: center;
	}
	.js_pic_block .left_info .blocks .block img {
		margin: 0 auto 15px;
		display: block;
	}
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.map #map {
	width: 100%;
	height: 100%;
}

.map:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(30, 111, 126, 0.8);
}

.section.contactssection {
	line-height: 1;
	font-size: 13px;
}

.section.contactssection .contacts_page_block .rightblock {
	padding-right: 70px;
}

.section.contactssection .contacts_content {
	padding-top: 300px;
}

.contactswrapper {
	background: #3b3b3b;
}

.contactswrapper .header {
	z-index: 2;
	position: relative;
}

.contacts_page_block {
	margin-top: -145px;
	min-height: 100vh;
}

.contacts_page_block .rightblock {
	padding: 150px 50px 50px;
	width: 302px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	color: #333333;
}

.contacts_page_block .rightblock .title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
}

.contacts_page_block .rightblock .body {
	overflow: hidden;
}

.contacts_page_block .rightblock .calendarblock input {
	color: #333333;
	background-image: url(../images/calendar.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.contacts_page_block .rightblock .calendarblock input:focus {
	border-radius: 20px 20px 0 0;
	background: #032a4b url(../images/calendaractive.png) 100% 0 no-repeat;
	color: #fff;
}

.contacts_page_block .rightblock .calendarblock input:focus::-webkit-input-placeholder {
	color: #fff;
}

.contacts_page_block .rightblock .calendarblock input:focus::-moz-placeholder {
	color: #fff;
}

.contacts_page_block .rightblock .calendarblock input:focus:-moz-placeholder {
	color: #fff;
}

.contacts_page_block .rightblock .calendarblock input:focus:-ms-input-placeholder {
	color: #fff;
}

.contacts_page_block .rightblock input,
.contacts_page_block .rightblock textarea {
	width: 100%;
	margin-top: 15px;
	padding: 10px 17px;
	border: 1px solid transparent;
	background: #f9f9f9;
	border-radius: 20px;
	vertical-align: middle;
	font-size: 14px;
}

.contacts_page_block .rightblock textarea {
	resize: none;
	border-radius: 10px;
	height: 125px;
	padding: 10px 17px;
	line-height: 1;
}

.contacts_page_block .rightblock .recap {
	margin: 15px 0;
}

.contacts_page_block .rightblock .recap .b_title {
	font-weight: 700;
	margin: 0 0 5px;
}

.contacts_page_block .rightblock .site_but {
	background: #032a4b;
	border-color: #032a4b;
	color: #ffffff;
	width: 100%;
	text-align: center;
}

.contacts_page_block .rightblock .site_but:hover {
	color: #032a4b;
	background: none;
}

.textsuccess {
	font-size: 15px;
	font-weight: 500;
	line-height: 1.3;
	display: none;
}

.contacts_content {
	padding-top: 250px;
	color: #fff;
	padding-left: 20px;
}

.contacts_content .title {
	font-size: 45px;
	font-weight: 500;
	line-height: 1;
}

.contacts_content .title span {
	position: relative;
}

.contacts_content .body {
	padding-bottom: 50px;
	padding-right: 545px;
}

.contacts_content .body a {
	color: #fff;
	text-decoration: none;
}

.contacts_content .body a:hover {
	text-decoration: underline;
}

.contacts_content .body .big_info {
	float: left;
	padding-top: 15px;
}

.contacts_content .body .big_info .block {
	margin-top: 25px;
	line-height: 27px;
}

.contacts_content .body .big_info .block .m_title {
	font-size: 27px;
	line-height: 1;
	font-weight: 400;
	margin-bottom: 20px;
}

.contacts_content .body .big_info .block p {
	margin: 0;
}

.contacts_content .body .big_info .block .inlineblock {
	position: relative;
	display: inline-block;
}

.contacts_content .addressblock {
	float: right;
	margin: 50px 0 0 0;
	padding-top: 60px;
	line-height: 23px;
	position: relative;
	text-align: center;
	width: 245px;
	background: url(../images/address.png) 50% 0 no-repeat;
}

.ui-widget.ui-widget-content {
	background: #032a4b;
	border-color: #032a4b;
	border: none;
	border-radius: 0 0 20px 20px;
	width: 302px;
	padding: 0 30px 10px;
	box-sizing: border-box;
	color: #fff;
}

.ui-datepicker .ui-datepicker-header {
	margin: 0 -30px;
}

.ui-datepicker .ui-datepicker-header {
	padding: 0;
	border-radius: 0;
	background: #fff;
	font-size: 10px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	margin-top: -4px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	background: none;
	color: #fff;
	border: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #ffffff;
	color: #032a4b;
}

.ui-datepicker .ui-datepicker-title {
	line-height: 30px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: transparent;
	background: transparent;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	width: 6px;
	height: 10px;
	top: 10px;
	margin: 0;
}

.ui-datepicker .ui-datepicker-prev {
	left: 15px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 15px;
	top: 10px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 15px;
	top: 10px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	width: 6px;
	height: 10px;
	top: 0 !important;
	left: 0 !important;
	background: url(../images/arrowcalendar.png) 0 0 no-repeat;
	margin: 0;
}

.ui-datepicker .ui-datepicker-next {
	right: 15px;
}

.ui-datepicker .ui-datepicker-next span {
	background-position: 100% 0;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover {
	background: #ffffff;
	color: #032a4b;
}

.ui-datepicker td {
	padding: 1px 6px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	padding: 0 3px;
	line-height: 20px;
}

@media screen and (max-height:850px) {
	.section.contactssection .contacts_content {
		padding-top: 200px;
	}
}

@media screen and (max-height:700px) {
	.section.contactssection .contacts_content {
		padding-top: 180px;
	}
	.contacts_page_block .rightblock {
		padding-top: 120px;
	}
}

@media screen and (max-height:645px) {
	.contacts_page_block .rightblock .calendarblock input:focus {
		border-radius: 0 0 20px 20px;
		border-color: transparent;
	}
	.ui-widget.ui-widget-content {
		border-radius: 0;
	}
}

@media screen and (max-width:1230px) {
	.contacts_content .body {
		padding-right: 430px;
	}
}

@media screen and (max-width:1200px) and (max-height:1366px) {
	.section.contactssection .contacts_content {
		padding-top: 325px;
	}
}

@media screen and (max-width:1010px) {
	.top_menu {
		padding-right: 60px;
	}
}

@media screen and (max-width:970px) {
	.contacts_content {
		padding-top: 195px;
	}
	.contacts_content .title {
		font-size: 22px;
	}
	.contacts_content .body {
		padding-right: 400px;
	}
	.contacts_content .body .big_info {
		float: none;
		padding-top: 5px;
	}
	.contacts_content .body .big_info .block {
		margin-top: 15px;
	}
	.contacts_content .body .big_info .block .m_title {
		font-size: 17px;
		margin-bottom: 5px;
	}
	.contacts_content .body .addressblock {
		float: none;
		width: auto;
		text-align: left;
		background: none;
		padding-top: 0;
	}
}
@media screen and (max-width: 767px){
	.site_jsonblock .body .block {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (max-width:767px) {
	.section.contactssection .contacts_page_block {
		margin-top: 0;
		min-height: 530px;
	}
	.section.contactssection .contacts_page_block .contacts_content {
		padding-top: 80px;
	}
	.section.contactssection .contacts_page_block .rightblock {
		padding: 20px;
	}
	.section.contactssection .contacts_page_block .rightblock .site_but {
		width: auto;
	}
}

@media screen and (max-width:750px) {
	.contacts_page_block .rightblock {
		position: relative;
		right: auto;
		top: auto;
		bottom: auto;
		width: 100%;
		box-sizing: border-box;
		padding: 15px;
	}
	.contacts_content .body {
		padding-right: 0;
	}
	.ui-widget.ui-widget-content {
		border-radius: 20px 20px 0 0;
	}
	.contacts_page_block .rightblock .calendarblock input:focus {
		border-radius: 0 0 20px 20px;
	}
}

@media screen and (max-width:330px) {
	.ui-widget.ui-widget-content {
		width: 280px;
	}
}

.section.servicesslider {
	background: #eeae42 url(../images/servicesliderbg.png) 0 0 repeat;
}

.section.servicesslider .owlmain .item .wraslider .s_title {
	font-weight: 300;
}

.section.servicesslider .owlmain .item .wraslider .s_title span {
	font-weight: 500;
}

.section.servicesslider .owlmain .item .wraslider a.all {
	background-color: #fff;
	color: #eeae42;
}

.section.servicesslider .owlmain .item .wraslider a.all:hover {
	color: #fff;
	border-color: #fff;
}

.finishblock .s_text .js-block {
	display: flex;
}

.finishblock .s_text .js-block .block {
	display: flex;
	align-items: center;
	width: 170px;
	font-size: 13px;
	margin-left: 20px;
	line-height: 1;
}

.finishblock .s_text .js-block .block:first-child {
	margin: 0;
}

.finishblock .s_text .js-block .block img {
	width: 41px;
	max-width: 41px;
	height: 42px;
	margin-right: 10px;
}

.servicesinfo {
	background: none;
}

.servicesinfo .site_title span {
	color: #28415c;
}

.servicesinfo .site_title span span {
	color: #666666;
}

.servicesinfo .body {
	max-width: 840px;
	margin: 0 auto;
	counter-reset: heading;
}

.servicesinfo .body .block {
	width: 33%;
	max-width: 195px;
	counter-increment: heading;
	text-align: center;
	position: relative;
}

.servicesinfo .body .block:before {
	content: '';
	position: absolute;
	top: 40px;
	left: -45%;
	width: 46px;
	height: 34px;
	background: url(../images/arrowserbot.png) 0 0 no-repeat;
}

.servicesinfo .body .block:first-child:before {
	display: none;
}

.servicesinfo .body .block .imgblock {
	position: relative;
	display: inline-block;
}

.servicesinfo .body .block .imgblock:before {
	content: "0" counter(heading);
	position: absolute;
	top: 50%;
	line-height: 27px;
	left: -9px;
	width: 27px;
	border-radius: 50%;
	background: #032a4b;
	border-radius: 50%;
	color: #fff;
	margin-top: -15px;
}

.servicesinfo .body .block .imgblock img {
	margin: 0;
}

.servicesinfo .body .block .text {
	margin-top: 13px;
	font-size: 16px;
}

.servicestop .textblock {
	padding-right: 520px;
	background: url(../images/servicestop.png) 100% 50% no-repeat;
	min-height: 220px;
}

.serviceyellow {
	background: #eeae42;
	padding-top: 35px;
	position: relative;
	padding-bottom: 35px;
}

.serviceyellow:before {
	content: '';
	position: absolute;
	top: -15px;
	width: 30px;
	height: 15px;
	left: 385px;
	background: url(../images/yellowtop.png) 0 0 no-repeat;
}

.serviceyellow .textblock {
	background: url(../images/servicesyellow.png) 100% 0 no-repeat;
	min-height: 190px;
	padding-right: 520px;
}

.serviceyellow .textblock .title {
	padding-top: 40px;
}

.serviceyellow .textblock .text {
	max-width: 570px;
}

.serviceblock {
	align-items: flex-end;
	padding-top: 65px;
	position: relative;
}

.serviceblock:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 112px;
	background: url(../images/servicesbotbg.png) 50% 0 repeat;
}

.serviceblock .left_info {
	padding-bottom: 105px;
}

.serviceblock .left_info .title span {
	display: block;
}

.serviceblock .left_info .m_title {
	font-size: 27px;
	line-height: 1;
	font-weight: "Roboto";
	margin-top: 25px;
	color: #333333;
}

.serviceblock .rightimg {
	max-width: 650px;
	min-width: 650px;
	width: 650px;
	position: relative;
}

.serviceblock .rightimg:before {
	content: '';
	position: absolute;
	top: -125px;
	left: -20px;
	width: 631px;
	height: 434px;
	background: url(../images/serviceafterbg.png) 0 0 no-repeat;
}

@media screen and (max-width:990px) {
	.serviceblock {
		padding-top: 20px;
	}
	.serviceblock .left_info {
		padding-bottom: 120px;
	}
	.serviceblock .rightimg {
		display: none;
	}
	.serviceblock .rightimg:before {
		display: none;
	}
	.js_pic_block.greybg .rightimg {
		display: none;
	}
}

@media screen and (max-width:950px) {
	.serviceyellow:before,
	.servicestop:before {
		left: 50%;
		margin-left: -15px;
	}
	.serviceyellow .textblock,
	.servicestop .textblock {
		padding: 0 0 200px;
		background-position: 50% 100%;
		text-align: center;
	}
	.serviceyellow .textblock .title,
	.servicestop .textblock .title {
		padding-top: 0;
	}
	.serviceyellow .textblock .text,
	.servicestop .textblock .text {
		max-width: 100%;
	}
	.servicestop .textblock {
		padding-bottom: 230px;
	}
}

@media screen and (max-width:850px) {
	.servicesinfo .body .block:before {
		left: -35%;
	}
}

@media screen and (max-width:767px) {
	.section.servicesslider {
		padding-top: 180px;
	}
	.section.servicesslider .coutbloc {
		top: 125px;
	}
	.section.servicesslider .owlmain .item .wraslider {
		font-size: 13px;
	}
	.section.servicesslider .owlmain .item .wraslider .s_title {
		font-size: 30px;
	}
	.section.servicesslider .js-block {
		justify-content: center;
	}
	.section.servicesslider .js-block .block {
		text-align: left;
	}
}

@media screen and (max-width:700px) {
	.servicesinfo .body {
		display: block;
		padding: 0 15px;
	}
	.servicesinfo .body .block {
		margin: 20px auto 0;
		width: 100%;
		max-width: 100%;
	}
	.servicesinfo .body .block:before {
		display: none;
	}
}

@media screen and (max-width:480px) {
	.serviceyellow,
	.servicestop {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.serviceyellow .textblock,
	.servicestop .textblock {
		background-size: 100% auto;
		min-height: 0;
	}
}

@media screen and (max-width:440px) {
	.section.servicesslider .js-block {
		display: block;
	}
	.section.servicesslider .js-block .block {
		margin: 20px auto 0;
	}
	.section.servicesslider .js-block .block:first-child {
		margin: 0 auto;
	}
}

@media screen and (max-width:390px) {
	.serviceyellow .textblock {
		padding-bottom: 140px;
	}
	.servicestop .textblock {
		padding-bottom: 160px;
	}
}

.services_popup_block {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.98);
	overflow-y: auto;
	z-index: 321321;
}

.services_popup_block .closeservice {
	position: absolute;
	right: 30px;
	top: 40px;
	width: 26px;
	height: 26px;
	background: url(../images/closebut.png) 0 0 no-repeat;
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.4s ease 0s;
}

.services_popup_block .closeservice:hover {
	opacity: 1;
}

.services_popup_block .blockwrap {
	padding-top: 185px;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 65px;
}

.services_popup_block .blockwrap:before {
	content: '';
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 0;
	max-width: 1440px;
	height: 505px;
	background: url(../images/services_bg.png) 50% 100% no-repeat;
}

.services_popup_block .header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.services_popup_block .blockin {
	padding-right: 30%;
	box-sizing: border-box;
}

.services_popup_block .services_wrap_popup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: calc(100vh - 250px);
	position: relative;
}

.services_popup_block .leftblock {
	max-width: 280px;
}

.services_popup_block .leftblock .title {
	text-transform: uppercase;
	font-size: 50px;
	line-height: 1;
	color: #333;
	margin: 0 0 20px;
}

.services_popup_block .leftblock .title span {
	display: block;
	font-size: 64px;
	color: #000;
	font-weight: bold;
}

.services_popup_block .rightblock {
	max-width: 500px;
	width: 100%;
}

.services_popup_block .rightblock ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	margin: 0;
}

.services_popup_block .rightblock ul li {
	width: 40%;
	margin-top: 30px;
}

.services_popup_block .rightblock ul li:nth-child(1) {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.services_popup_block .rightblock ul li:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.services_popup_block .rightblock ul li:nth-child(3) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.services_popup_block .rightblock ul li:nth-child(4) {
	-webkit-animation-delay: 0.20s;
	animation-delay: 0.20s;
}

.services_popup_block .rightblock ul li:nth-child(5) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.services_popup_block .rightblock ul li:nth-child(6) {
	-webkit-animation-delay: 0.30s;
	animation-delay: 0.30s;
}

.services_popup_block .rightblock ul li:nth-child(7) {
	-webkit-animation-delay: 0.35s;
	animation-delay: 0.35s;
}

.services_popup_block .rightblock ul li:nth-child(8) {
	-webkit-animation-delay: 0.40s;
	animation-delay: 0.40s;
}

.services_popup_block .rightblock ul li a {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	color: #333333;
	text-decoration: none;
}

.services_popup_block .rightblock ul li a:hover {
	color: #21beb2;
}

.services_popup_block .rightblock ul li a:hover span {
	border-color: #21beb2;
}

.services_popup_block .rightblock ul li a span {
	border-bottom: 1px solid transparent;
	display: inline;
}

.services_popup_block .rightblock ul li a img {
	margin-right: 25px;
}

.services_popup_block .rightblock .site_but {
	margin-top: 55px;
	border-color: #032a4b;
	background: #032a4b;
	color: #fff;
	animation-delay: 0.50s;
}

.services_popup_block .rightblock .site_but:hover {
	background: #fff;
	color: #032a4b;
	transition: all 0.4s ease 0s;
}

@media screen and (max-width:1220px) {
	.services_popup_block:before {
		display: none;
	}
	.services_popup_block .blockin {
		padding-right: 20px;
	}
	.services_popup_block .rightblock {
		max-width: 65%;
	}
}

@media screen and (max-width:950px) {
	.services_popup_block .blockwrap .services_wrap_popup {
		display: block;
	}
	.services_popup_block .blockwrap .leftblock {
		max-width: 100%;
	}
	.services_popup_block .blockwrap .rightblock {
		max-width: 100%;
	}
}

@media screen and (max-width:767px) {
	.services_popup_block .closeservice {
		top: 27px;
		background: url(../images/closebut2.png) 0 0 no-repeat;
	}
}

@media screen and (max-width:480px) {
	.services_popup_block .rightblock ul li {
		width: 100%;
	}
	.services_popup_block .rightblock ul li a {
		display: flex;
	}
}

@media screen and (max-width:400px) {
	.services_popup_block .closeservice {
		right: 37px;
		top: 20px;
		width: 22px;
		height: 22px;
		background-size: 100% 100% !important;
	}
}





/* CUSTOM STYLES */

.footer .footer_wrap {
	flex-wrap: nowrap;
}

.footer ul {
	margin: 0;
}

.footer strong,
li,
a {
	color: #fff;
}

ul.address li {
	list-style-type: none;
}

ul.address li a {
	display: inline !important;
	padding: 0 !important;
}

ul.address li a:before {
	content: '';
	display: none !important;
}

.copyright {
	text-align: right;
}


.docdoc {
	padding-bottom: 40px;
}

.docdoc p {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.docte_info_block_page.yak1 .left img {
	display: block;
	width: 86%;
	margin: 0 auto;
}

.footer .copyright a {
	color: #fff;
	padding-right: 5px;
}

.rightblock {
	color: black;
}

.docte_info_block_page .left img {
	display: block;
	max-width: 75%;
	margin: 0 auto;
}

.doctor_page_top {
	align-items: flex-start;
}


.fix_scroll .header.header_fixed {
	position: fixed;
	width: 100%;
	background: rgba(3, 42, 75, 0.81);
	color: #fff;
	z-index: 9;
	min-height: auto;
	padding: 15px 0;
}

.hygienewrapper .header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 22220;
	background-color: #fff;
}

.fix_scroll .header.header_fixed img {
	max-width: 79%;
}

.header.header_fixed .phone_top {
	color: #fff;
}

.header.header_fixed .phone_top {
	line-height: 3px;
	padding-top: 10px;
}

.header.header_fixed .phone_top p {
	margin: 0 0 17px;
}

.header.header_fixed .top_menu {
	padding-top: 14px;
}

.services_popup_block {
	right: -15px;
}

#readme-ok {
	text-align: left;
	cursor: pointer;
	display: inline-block;
	max-width: 86%;
	margin-top: 18px;
	vertical-align: middle;
	position: relative;
	padding-left: 10px;
	font-size: 11px;
	color: rgba(4, 4, 4, 0.61);
	line-height: 21px;
	font-weight: 500;
}

#readme-ok a {
	color: #4a90e2;
	text-decoration: underline;
}

#chekok {
	text-align: left;
	display: inline;
	width: auto;
	margin-top: 15px;
}

#chekok:not(checked)+label::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid rgb(180, 192, 201);
	top: 0px;
	left: -22px;
	display: block;
	border-radius: 2px;
}

#chekok:checked+label::before {
	border-radius: 2px;
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid rgb(180, 192, 201);
	top: 0px;
	left: -22px;
	display: block;
	background-image: url(../images/6156-200.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.fix_scroll #chekok:not(checked)+label::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid rgb(180, 192, 201);
	top: 0px;
	left: -22px;
	display: block;
	border-radius: 2px;
}

.fix_scroll #chekok:checked+label::before {
	border-radius: 2px;
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid rgb(180, 192, 201);
	top: 0px;
	left: -22px;
	display: block;
	background-image: url(../images/6156-200.png);
	-webkit-background-size: cover;
	background-size: cover;
}


.section.mainslider .owlmain .item .wraslider {
	font-weight: 400;
}

.ajaxform input,
.ajaxform textarea,
.ajaxform label {
	font-family: "Roboto" !important;
}

.blockin ol li {
	color: #000;
}

.section.mainslider .owlmain .item .wraslider .s_text {
	font-weight: 400;
}

.orthodontic.docte_info_block_page .left img {
	max-width: 100%;
	padding-top: 30px;
}

.copyright .social_footer {
	text-align: left;
	padding-left: 0;
}

.copyright .social_footer li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}

.copyright .social_footer li a {
	display: block !important;
	width: 30px;
	height: 30px;
	background-color: #135a68;
	border-radius: 50%;
	background-image: url(../images/61.png);
	background-repeat: no-repeat;
	-webkit-background-size: 80%;
	background-size: 80%;
	background-position: center center;
	cursor: pointer;
}

.copyright .social_footer li a:hover {
	background-color: #00a89a;
	cursor: pointer;
}

.copyright .social_footer li:nth-child(1) a {
	background-image: url(../images/611.png);
	background-position: 3px 4px;
}

.copyright .social_footer li:nth-child(3) a {
	background-image: url(../images/612.png);
}


.hygiene_infm {
	background-color: #fff;
}

.hygiene_infm.info_hygiene .textblock {
	color: #666666;
}

.hygiene_infm.info_hygiene .textblock {
	padding-right: 430px;
	background: url(../images/6193.png) 100% 50% no-repeat;
	min-height: 212px;
	color: #666666;
	max-width: 1100px;
	box-sizing: border-box;
}

.hygiene_infm.info_hygiene .textblock .title span {
	display: block;
	font-weight: 500;
	color: #032a4b;
}

.hygiene_infm.info_hygiene .textblock .title {
	color: #000;
}

.docte_info_block_page .right_2 {
	float: left;
	max-width: 690px;
	padding-top: 40px;
	width: 100%;
}

.doct_2_wr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.docte_info_block_page .left_2 {
	float: none;
	width: 100%;
	border: 12px solid #f0f0f0;
	margin-right: auto;
	max-width: 472px;  
	margin: 0 auto;
	overflow: hidden;
}
.docte_info_block_page .left {
	float: left;
}

.wq .left {
	float: none;
	margin: 0 auto;
	max-height: 624px;
}

.docte_info_block_page.yak1 .doct_2_wr .left img {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 30px;
    // padding-bottom: 150px;
}

.inlineblock .copyright .social_footer {
	margin: 0;
	margin-top: -15px;
}


.top_menu ul li:first-child a {
	display: none;
}

.copyright {}

.copyright a:first-child {
	text-align: left;
	text-decoration: underline;
	display: block;
	margin-bottom: -2px;
}

.copyright .social_footer {
	text-align: right;
	padding-right: 0px;
}

.fresco {
	font-size: 12px;
	display: block;
	margin-top: 28px;
	text-align: left;
}

.footer {
	padding-bottom: 10px;
}

.opmnu .text {
	height: 136px;
	overflow: hidden;
}

.opmnu .block {

	position: relative;
}

.opmnu_btn {
	position: absolute;
	bottom: -20px;
	right: 32px;
	color: rgb(33, 190, 178);
	/*text-decoration: underline;*/
}

.opmnu .text.ha {
	height: 100%;
	transition: all 1s ease;
	transition: all 1s ease;
}











.chistka .body_block.opmnu {
	align-items: stretch;
}

.chistka .body_block.opmnu.haa {
	transition: all 2s ease;
	align-items: flex-start;
}

.fix_scroll .contactswrapper .header.header_fixed {
	position: relative;
	width: 100%;
	background: rgba(3, 42, 75, 0.81);
	color: #fff;
	z-index: 9;
	min-height: auto;
	padding: 15px 0;
}


@media screen and (max-width: 767px) {
	.docte_info_block_page .left_2 {
		min-width: 100%;
		margin-bottom: 30px;
	}
	.doct_2_wr {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	footer ul {
		list-style-type: none;
		text-align: left;
		margin-bottom: 12px !important;
	}
	footer .copyright {
		text-align: left;
		padding-left: 40px;
	}
	.footer .logo_bot {
		font-size: 0;
		text-align: left;
		padding-left: 30px;
		margin-bottom: 10px;
	}
	.header.header_fixed .top_menu {
		padding-top: 0px;
	}
	.header.header_fixed .top_menu.open {
		padding-top: 20px;
	}

	.top_menu.open {
		background: rgba(3, 42, 75, 1);
	}
	.top_menu ul li a {
		color: #fff;
		text-align: center;
		font-size: 16px;
		transition: all 0s ease;
	}
	.burger.open span {
		color: #fff;
		background: #fff;
	}
	.top_menu ul li:first-child a {
		font-size: 14px;
		color: #333333;
		line-height: 40px;
		padding: 0 20px;
		display: block;
		width: 100%;
		text-align: left;
	}


    // .docte_info_block_page .left img {
    //     margin-bottom: 125px;
    // }
    // .docte_info_block_page.yak1 .doct_2_wr .left img {
    //     margin-bottom: 125px;
    // }
    .mainwrapper .header {
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;
    	/*z-index: 3;*/
    }
    .top_menu ul li.active a {
    	color: #2dc9bd;
    	background: rgba(3, 42, 75, 1);
    	text-decoration: none;
    	outline: none;
    }
    .top_menu ul li a:hover {
    	outline: none;
    	background: rgba(3, 42, 75, 1);
    }
    .footer .blockin {
    	padding-left: 5px;
    	padding-right: 5px;
    }
    /*.footer ul {
    margin: 0;
    padding-left: 5px;
    display: inline-block;
    max-width: 37%;
    box-sizing: border-box;
    vertical-align: top;
}
.copyright .social_footer {
    text-align: right;
    padding-right: 0px;
    max-width: 100%;
}

}*/
.footer ul {
	margin: 0;
	padding-left: 5px;
	display: inline-block;
	max-width: 50%;
	box-sizing: border-box;
	vertical-align: top;
	width: 46%;
}
.footer .copyright {
	text-align: left;
	padding-left: 40px;
	float: left;
	padding-left: 17px;
	width: 100%;
}


.fresco {
	font-size: 12px;
	display: block;
	margin-top: 4px;
	text-align: left;
}

.footer .logo_bot {
	font-size: 0;
	text-align: -webkit-auto;
	padding-left: 10px;
	margin-bottom: 10px;
}
.about_textblock .left {
	width: 100% !important;
}
.about_textblock .imgblock {
	width: 100% !important;
}
.about_textblock .imgblock img {
	max-width: 100%;
}
.about_textblock .left {
	width: 100% !important;
	padding: 28px 19px !important;
}
.bodyfaq {
	font-size: 15px;
	line-height: 30px;
	font-family: "Roboto";
	padding-bottom: 20px;
	width: 89% !important;
}
.doctor_page_top .right .top_block {
	text-align: center;
	background: #f6f6f6;
	color: #252525;
	line-height: 34px;
	padding-left: 5px !important;
	padding-right: 5px;
	padding-top: 10px;
}
.doctor_page_top .right .top_block .b_title+.info {
	color: #333;
}
.copyright a:first-child {
	text-align: right;
	display: block;
	margin-bottom: -2px;
	padding-right: 35px;
}

.copyright .social_footer {
	text-align: right;
	padding-right: 0px;
	padding-left: 75px;
	max-width: 100%;
	width: 100%;
	text-align: right;
	padding-right: 23px;
}
.footer .copyright a {
	color: #fff;
	padding-right: 5px;
	text-align: right;
	padding-right: 34px;
}
.logo {
	margin-right: 10px;
	margin-top: 0px;
	width: 200px;
}
.burger {
	top: 21px;
	/*z-index: 9999999999;*/
	position: fixed;
	padding: 10px;
	display: block;
	width: 30%;
	text-align: right;
}
.burger span {
	max-width: 30px;
}
.burger span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	opacity: 1;
	left: 58px;
	right: 0px;
}
.hygiene_infm.info_hygiene .textblock {
	padding-right: 0px;
	background: url(../images/6193.png) 100% 95% no-repeat;
}
.main_page_contacts .copyright .social_footer {
	text-align: right;
	padding-right: 0px;
	padding-left: 0px;
	max-width: 100%;
	width: 100%;
	text-align: left;
	padding-right: 23px;
}
.top_menu ul li:first-child {
	margin: 0;
	max-width: 50%;
}

.mainblockcontent .linkblock a:last-child,
a.scrollmain,
.mainblockcontent .linkblock a:last-child:hover,
.mainblockcontent .linkblock .scrollmain:hover,
.mainblockcontent .linkblock .scrollmain:active,
.mainblockcontent .linkblock .scrollmain:focus,
.mainblockcontent .linkblock .scrollmain:visited {
	margin: 20px 0 0;
	background: rgba(33, 190, 177, 0);
}
.services_popup_block {
	z-index: 5;
}
.fix_scroll .contactswrapper .header.header_fixed {
	position: fixed;
	width: 100%;
	background: rgba(3, 42, 75, 0.81);
	color: #fff;
	z-index: 9;
	min-height: auto;
	padding: 15px 0;
}
}

@media screen and (max-width: 480px) {
	.docte_info_block_page .left .min_text_info .doctor__text .full__name {
		font-size: 20px;
	}
	.docte_info_block_page .left .min_text_info ul.doctor__text li {
		font-size: 13px;
	}
}

@media screen and (max-width: 360px) {
	.docte_info_block_page .left .min_text_info .site_button_wrap a {
		max-width: 175px !important;
	}
	.docte_info_block_page .left:hover .min_text_info {
		/*  min-height: 89% !important;*/
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 320px) {
	.docte_info_block_page .left .min_text_info .doctor__text .full__name {
		font-size: 15px;
	}
	.docte_info_block_page .left .min_text_info ul.doctor__text li {
		font-size: 12px;
	}
	.docte_info_block_page .left .min_text_info {
		padding: 10px;
		font-size: 12px;
	}
}
.vrachi .owl-item {

}

.wq{
	position: relative;
}
.wq .owl-nav.disabled {
    display: block!important;
}
.wq .owl-next {
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -50px; 
    z-index: 23;
    font-size: 0;
    width: 50px;
    height: 70px;
    background: url(../images/right-arrow.png) center/cover;
}
.wq .owl-prev {
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -50px;
    z-index: 23;
    font-size: 0;
    width: 50px;
    height: 70px;
    background: url(../images/left-arrow.png) center/cover;
}

.thanks_block .body .item img {
    width: 370px;
}